**/*compdump*
**/*hist*
**/*log
**/gtkfilechooser.ini
**/other
**/plugged
**/sc.sh
**/userChrome.js
**/.uuid
**/LICENSE*
**/*ttf
**/bookmarks
**/credentials

etc/colours/current
etc/mpv
usr/icons
usr/themes
