# Ignore everything
*

# But not these files...
!.gitignore
!.zshrc
!.bashrc
!.vimrc
!.profile
!.xprofile
!.zprofile
!.config/Kvantum/
!.config/rofi/
!.config/openbox/
!.config/neofetch/
!.config/tint2/
!.config/compton.conf
!.local/share/aurorae/
!.local/share/color-schemes/
!.local/share/Konsole/
!.local/share/plasma/desktoptheme/
!.local/share/QtCurve/
!bin/panes
!bin/wifi
!.themes/OneDark
!.themes/oomox-OneDark
!.Xresources
!Wallpapers
!bin/wifi
!bin/nerdy
!.startpage