rofi.font:        Iosevka Term 14
URxvt.font:       xft:Iosevka Term:style=Regular:pixelsize=12
*shell:           /bin/zsh
st.termname:      st-256color
st.font:          Iosevka Term:pixelsize=12:antialias=true:autohint=true
st.borderpx:      15
st.tabspaces:     4
st.xfps:          60
st.actionfps:     60
st.bellvolume:    0
st.cwscale:       1.0
st.chscale:       1.0
st.blinktimeout:  0.5

#include ".config/Xres.Pure"
