rofi.font:        Iosevka Term 14
URxvt.font:       xft:Iosevka Term:style=Regular:pixelsize=14
*shell:           /bin/zsh
st.termname:      st-256color
st.font:          Iosevka Term:pixelsize=14:antialias=true:autohint=true
st.borderpx:      15
st.tabspaces:     4
st.xfps:          60
st.actionfps:     60
st.bellvolume:    0
st.cwscale:       1.0
st.chscale:       1.0
st.blinktimeout:  0.5

!! Pure

!! special
*foreground:   #d8eefa
*background:   #12151a
*cursorColor:  #d8eefa

!! black
*color0:       #161720
*color8:       #161720

!! red
*color1:       #f0185a
*color9:       #f0185a

!! green
*color2:       #12e689
*color10:      #12e689

!! yellow
*color3:       #f0d35c
*color11:      #f0d35c

!! blue
*color4:       #02a4fc
*color12:      #02a4fc

!! magenta
*color5:       #ef2ca5
*color13:      #ef2ca5

!! cyan
*color6:       #27b1d9
*color14:      #27b1d9

!! white
*color7:       #d8eefa
*color15:      #d8eefa
