[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=conky
Comment=
Exec=sleep 4; conky
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

