[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Lock screen
Comment=
Exec=xautolock -time 10 -locker ~/bin/lock
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

