[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=stop xfce4-panel
Comment=
Exec=pgrep xfce4-panel && xfce4-panel -q || xfce4-panel
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

