[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Tint2
Comment=
Exec=tint2 -c /home/gauge/.config/tint2/pure.tint2rc
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

