body {
	font: var(--font-weight) var(--font-size) var(--font);
	background: var(--bg1);
	/* align to center */
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

nobody {
	/* flow horizontally */
	display: flex;
}

div > * {
	display: block;
	text-decoration: none;
	padding: 10px 40px;
	text-align: center;
}

a       { color: var(--fg1);    }
span    { color: var(--accent); }
a:hover { color: var(--accent); }
