show_frame=false
fg_set=false
bg_set=false
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%a %d %b, %I:%M %p
font0=Iosevka Term 11
tooltip=%A %d %B --- %x --- %X
hib_timing=true

