:root {
    --bgdark:      #12151a;
    --fgdark:      #9aafc4;

    --bglight:     #161720;
    --bglighter:   #26303b;
    --border:      #1a1b26;
    --fglight:     #d8eefa;

    --bgtitle:     #4c566a;

    --accent:      #02a4fc;
}

body {
    background-color: var(--bgdark);
}

#page {
    /*width: 90vw;
    height: 90%;*/
    max-width: 700px;
    max-height: 600px;
	  	
    margin: 25px auto;
}

main {
    max-width: 700px;
    margin-top: auto;
    display: flex;
    margin: 2vh auto;
    overflow-y: auto;
    flex-flow: row wrap;
}

#clock {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#time, #date {
    color: var(--fglight);
    display: block;
}

.search-box input[type="text"] {
    background-color: var(--bgdark);
    border: 2px solid var(--border);   
    color: var(--fgdark);
    transition: all 300ms ease 0s;
    width: 90%;
    max-width: 600px;
    height: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.search-box input[type="text"]:focus,
.search-box input[type="text"]:hover {
    border: 2px solid var(--accent);   
}

.box {
    display: block;
    width: auto;
    text-align: center;
    border: 2px solid var(--border);
    transition: all 300ms ease 0s;
    margin: 15px;
    box-shadow: 9px 10px 16px 3px rgba(0,0,0,0.3);   
}

.box:hover {
    border: 2px solid var(--accent);
}

.box:hover > .title,
.box:hover > * > .title {
    background-color: var(--accent);
}


.title {
    color: var(--fglight);
    font-size: 18px;
    transition: all 300ms ease 0s;
    display: block;
    text-align: center;
    background-color: var(--border);
    padding: 5px;
}

.links {
    font-size: 14px;
    padding: 6px 0;
    display: inline-block;
    width: 70px;
    width: 100%;
    display: block;
}

hr {
    color: var(--bglighter);
    margin: 2px;
    transition: all 300ms ease 0s;
}

a:visited, a {
    color: var(--fgdark);
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
}

a:hover {
    color: var(--accent);
}

#notes {
    display: block;
    background-color: var(--bgdark);
    color: var(--fglight);
    border: none;
    padding: 15px;
    margin-right: auto;
    border: 2px solid var(--bglight);
    transition: all 0.4s ease 0s; 
    width: 40px;
    height: 20px;
    margin-bottom: 25px;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 69;
    margin-bottom: 0px;
    border-radius: 0 5em 5em 0;
    resize: none;
    color: var(--bgdark);
    overflow: hidden;
    margin-left: -40px;
    font-family: "Iosevka Term";
    font-size: 13px;
}

#notes:focus {
    border: 2px solid var(--accent);
    box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
    margin-left: 25px;
    z-index: 420;
    margin-bottom: 25px;
    width: 366px;
    height: 160px;
    border-radius: 0;
    color: #fff;
    overflow: visible;
}

/*#notes:hover {
    border: 2px solid var(--accent);
    box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
    margin-left: 25px;
    z-index: 420;
    margin-bottom: 25px;
    width: 350px;
    height: 140px;
    border-radius: 0;
    color: #fff;
    overflow: visible;
}*/

#notes:hover:not(:focus) {
    margin-left: -25px;
    border-color: var(--accent);
}

.pen {
    position: fixed;
    top: 68px;
    left: 0px;
    width: 20px;
    transition: all 0.4s ease 0s; 
    z-index: 69;
    pointer-events: none;
    margin-left: 8px;
}

#notes:focus ~ .pen {
    opacity: 0;
    display: none;
}

#notes:not(:hover) ~ .pen {
    margin-left: -6px;
}

main section {
    flex: 1 1 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
    main section {
        flex: 1 1 50%;
    }
}

@media only screen and (min-width: 768px) {
    main section {
        flex: 1 1 25%;
    }
}
