:root {
	/*  ----  */
	--bg1: #232836;
	--bg2: #282e3f;
	--bg3: #2f364a;
	--button: #ccccfa1a;
	/*  ----  */
	--fg2: #8686a4;
	--fg1: #ccccfa;
	--disabled: #696969;
	/*  ----  */
	--accent: #8da4eb;
	--hover: #ffffff;
	--red: #e9799b;
	/*  ----  */
}

* {
	font-family: "Fira Mono";
	font-weight: Bold;
	font-size: 9.5px;
}

/*body, html {
	background-color: var(--bg1);
}*/

html {
	background: var(--bg1);
	background-position: top -24px left 0;
}

html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

main {
	width: 290px;
	margin-top: auto;
	display: flex;
	overflow-y: auto;
	flex-flow: row wrap;
	position: relative;
	top: -10px;
}

#clock {
	position: relative;
	top: -30px;
	display: flex;
	text-align: center;
}

#time, #date {
	color: var(--fg1);
	display: inline-block;
	margin: 0 5px;
	flex-grow: 1;
	width: 0;
}

#time {
	text-align: left;
}

#date {
	text-align: right;
}

.links {
	padding: 4px 15px;
	width: auto;
	display: block;
	text-align: center;
}

a:visited, a {
	color: var(--fg2);
	text-decoration: none;
	outline: none;
}

a:hover {	color: var(--fg1); }

.slash {
	color: var(--fg2);
}

main section {
	flex: 1 1 25%;
	box-sizing: border-box;
}

/* Transparent blyrry UI */
/*
html {
	background: url(Blur.png);
	background-size: 100% calc(100vh + 24px);
	background-position: 0% -24px;
}

.box .title,
.box .content {
	background: #00000022;
}

.box:hover .title {
	background: #fff;
	color: #000;
}

#date, #time {
	color: #fff;
}

.box .title {
	color: #fff;
}

a, a:visited {
	color: #ddd;
}

a:hover, a:visited:hover {
	color: #fff;
}
*/

.title {
	display: none;
}

body {
	position:absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

section {
	margin: 15px;
	padding: 18px;
	/*border: 8px solid var(--fg2);*/
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.2);
}
/*
section:hover {
	border: 8px solid var(--fg1);
}*/

section {
	background-color: var(--bg3);
	border-radius: 4px;
	transition: all 150ms ease;
}

section:hover {
	background-color: var(--bg2);
}
