/*
 * CSS rewritten by https://github.com/phisch
 * */


html {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: "font", sans-serif;
	font-weight: normal;
	font-size: 12px;
}

html, body {
	background: var(--bg1);
}

body {
	margin-bottom: -10px;
	width: 220px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 5px;
}

a, a:visited {
	text-decoration: none;
	outline: none;
	color: var(--fg1);
	padding: 20px 0;
	border-radius: 4px;
	text-align: center;
	transition: background-color 200ms ease-in-out;
}

a:hover {
	color: var(--accent);
	/*background: var(--bg3);*/
}
