:root {
	/*  ----  */
	--bg0: #151517;
	--bg1: #ffffff;
	--bg2: #1C1D21;
	--bg3: #1F2126;
	--bg4: #262930;
	--button: #daddee1a;
	/*  ----  */
	--fg2: #a6a9b7;
	--fg1: #daddee;
	--disabled: #696969;
	/*  ----  */
	--accent: #7baae8;
	--accent2: #85BBFF;
	--false: #c488ec;
	--hover: #ffffff;
	--red: #e56f92;
	/*  ----  */

	--blue:        #02a4fc;
	--green:       #12e689;
	--yellow:      #f0d35c;
	--border1:     #223344;
	--border2:     #334455;
	-moz-tab-size: 2;
}
