.messageGroupBlocked, .da-messageGroupBlocked {display:none;}
code:not(.inline)::before {
    content: attr(class) "\A" !important;
    font-size: 0.75em;
    opacity: 0.5;
}
:root {
--selected: var(--bg3);
}

.searchResultMessage-2VxO12 { /* Remove shadow from search results */
	box-shadow: none !important; 
}

/* Hide ugly gradient coming from the right on some elements */
.children-19S4PO::after, .resultsGroup-r_nuzN::after, 
.option-96V44q::after, .searchResult-3pzFAB::before, .searchResult-3pzFAB::after {
	color: transparent !important;
	background: none !important;
}



*:not(code):not([class*="hljs"]):not(.name-3_Dsmg)
 {
	font-family: "Roboto Condensed" !important;
	font-size: 12px !important;
}

.name-3_Dsmg {
	font-size: 14px !important;	
}

.codeBlockText-11zCaP, .codeLine-3qsZPQ,
.codeBlockText-11zCaP *,
code, .inline {
	font-family: Monospace !important;
	font-weight: bold !important;
	font-size: 10px !important;
}

/*.unread-3zKkbm,               /* Unread channel arrow */

hr.divider-32i8lo,            /* hr between messages */
.scrollbar-2rkZSL,            /* Scroll bar - makes it use your native ones */
.messageGroupBlocked-3wrQQX   /* X blocked messages */
{
	display: none !important;
}

.scroller-2wx7Hm,
.scroller-2FKFPG{
	overflow-y: auto;
}

a svg.homeIcon-tEMBK1 path {
	color: var(--fg1) !important;
}
/*
.name-3_Dsmg {
	font-size: 10px !important;	
}

.content-3at_AU, .wrapper-1ucjTd {
	height: 22px !important;
}
 .channels-Ie2l6A {
	max-width: 160px !important;
}

* {
	font-size: 10px !important;
}
*/

.pill-31IEus .item-2hkk8m {
	background-color: var(--fg1) !important;
}



.guilds-1SWlCJ {
	margin-left: -60px;
	transition: all 200ms;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 102;
	background-color: var(--bg1) !important;
}

.guilds-1SWlCJ:hover * .pill-31IEus,
.guilds-1SWlCJ:hover {
	margin-left: 0px;
}
.guilds-1SWlCJ * .pill-31IEus {
	margin-left: 60px;
}

.channels-Ie2l6A {
	margin-left: 12px;
}

.base-3dtUhz {
	margin-left: -60px;
}
.bannerVisible-14J9lQ .header-2o-2hj,
.title-3qD0b-,
.animatedContainer-1pJv5C {
	box-shadow: none !important;
	filter: none !important;
}
.title-3qD0b- {
	margin-left: 40px
}



.sidebar-2K8pFh {
	transition: all 200ms;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -198px;
	z-index: 2;
	background-color: var(--bg2) !important;
}

.sidebar-2K8pFh:hover {
	left: 0;
}
/*
.sidebar-2K8pFh:not(:hover) * .name-3_Dsmg {
	font-size: 0px !important;
	text-align: center;
	margin-top: 7px;
}

.sidebar-2K8pFh:not(:hover) * .name-3_Dsmg::first-letter {
	font-size: 20px !important;
	font-weight: bold !important;
}*/

.content-yTz4x3 {
	margin-left: 40px;
}

.sidebar-2K8pFh:not(:hover) * .children-Bmpf2Q,
.scroller-2wx7Hm > div:first-of-type,
.bannerImage-1jOskm,
.unread-3zKkbm,
.sidebar-2K8pFh:not(:hover) * .name-IbjUBS {
	display: none;
}


.sidebar-2K8pFh:not(:hover) * .content-3at_AU {
	max-width: 33px;
	padding-left: 7px;
}

.sidebar-2K8pFh:not(:hover) * .containerDefault-1ZnADq {
	position: relative;
	left: 194px;
}

.scroller-2FKFPG:not(:hover) {
	overflow-x: hidden !important;
}


/*.chat-3bRxxu {
	margin-left: 35px !important;
}


/*.channels-Ie2l6A:not(:hover) * .icon-1_QxNX,
.channels-Ie2l6A:not(:hover) * .icon-WnO6o2 {
	position: relative;
	left: 190px;
}
*/
.sidebar-2K8pFh:not(:hover) * .icon-WnO6o2 {
	position: relative;
	left: 182px;
}


.sidebar-2K8pFh {
	z-index: 101 !important;
}


.markup-2BOw-j {
    font-family: Monospace;
}

.attachButtonPlus-rUdX-B {
	fill: var(--fg2) !important;
}

.attachment-33OFj0,
.embedInner-1-fpTo,
pre,
.wrapper-35wsBm {
	border: none !important;
}

.numberBadge-2s8kKX {
	background-color: var(--fg1) !important;
	color: var(--bg1) !important;
	font-size: 10px !important;
	font-family: monospace !important;
	font-weight: 500 !important;
	padding: 0 !important;
}

.sidebar-2K8pFh:not(:hover) * .numberBadge-2s8kKX {
	position: relative;
	left: -24px;
	top: -3px;
}

.animatedContainer-1pJv5C {
	background-color: transparent !important;
}


.textRow-19NEd_,
.activityName-1IaRLn,
.headerText-1HLrL7,
.headerTagUsernameNoNickname-2_H881,
.body-3iLsc4,
.headerName-fajvi9,
.bannerVisible-14J9lQ .header-2o-2hj,
.theme-dark .embedFooterText-28V_Wb,
.theme-dark .embedAuthorName-3mnTWj,
.embedDescription-1Cuq9a,
.modeSelected-1zApJ_ * path,
.modeUnread-1zpFdA * path {
	color: var(--fg1) !important;
}

.bodyInner-245q0L,
.body-3iLsc4,
.headerTag-2pZJzA {
	color: var(--fg2) !important;
}

.bodyInner-245q0L,
.body-3iLsc4,
.footer-1fjuF6,
.title-3qD0b- {
	background-color: var(--bg1) !important;
}

.header-2BwW8b,
.headerNormal-T_seeN,
.quickMessage-2XpSaN {
	background-color: var(--bg2) !important;
}


.content-3dzVd8:hover {
	background-color: var(--bg3)
}

.embedInner-1-fpTo {
	background-color: var(--button) !important;
}


.markup-2BOw-j a:visited {
	color: orchid;
}


.theme-dark {
    --header-primary: var(--fg1);
    --header-secondary: var(--fg2);
    --text-normal: var(--fg1);
    --text-muted: var(--fg2);
    --text-link: cornflowerblue;
    --channels-default: var(--fg2);
    --interactive-normal: var(--fg2);
    --interactive-hover: var(--fg1);
    --interactive-active: var(--fg1);
    --interactive-muted: var(--fg2);
    --background-primary: var(--bg);
    --background-secondary: var(--bg3);
    --background-tertiary: var(--bg1);
    --background-accent: var(--accent);
    --background-floating: var(--bg1);
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: var(--bg1);
    --activity-card-background: var(--bg2);
    --deprecated-panel-background: var(--bg3);
	--background-modifier-selected: var(--bg1);
	--elevation-low: none !important;
	--background-message-hover: var(--bg3) !important;
}

.panels-j1Uci_,
.container-PNkimc,
.scroller-2TZvBN {
	background-color: var(--bg3) !important;
}
/*
pre,
code,
.markup-2BOw-j {
	max-width: 700px !important;
}*/
/* *:not(code):not([class*="hljs"]):not(.name-3_Dsmg)
 */


/*.username-_4ZSMR[style*="color: rgb(27,"] {
	color: var(--fg1) !important;
}


.markup-2BOw-j s .emoji,
.markup-2BOw-j strong .emoji,
.markup-2BOw-j em .emoji {
	width: 3rem !important;
	height: 3rem !important;
	min-height: 3rem !important;
}

.emoji[aria-label*=":stare"] {
	width: 5rem !important;
	height: 5rem !important;
	min-height: 5rem !important;
}*/

/* Padding in main content area
Thanks _diamondburned_#4507 */
[class^="chatContent"] > form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: initial;
}

[class^="chatContent"] > div > div > div > div, 
[class^="chatContent"] [class^="channelTextArea"] {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

[class^="chatContent"] [class^="channelTextArea"] {
    margin-bottom: 15px;
}

[class^="chatContent"] div[class^="typing"] {
    max-width: 1000px;
    width: 100%;
    transition: all 150ms linear;
    background-color: transparent !important;
    top: -10px;
    height: 0;
    position: relative;
    overflow: visible;
	margin: 0 auto;
}

/* Autocomplete popup */
[class*="autocomplete-"] {
    background-color: var(--bg3) !important;
}

[class*="selectorSelected"] {
    background-color: var(--bg1) !important;
}

/* messages placeholder text */
.placeholder-37qJjk {
	opacity: 0.3 !important;
}













.timestampCozyAlt-1Hs08c {
	font-size: 9px !important;
}

.reaction-1hd86g .emoji {
	width: 16px !important;
	height: 16px !important;
}

.reaction-1hd86g {
	height: 20px !important;
	margin-top: 4px;
}



[class^="chatContent"] > div > div > div > div {
	width: 80%
}

