/* display info about code blocks */
code:not(.inline)::before {
    content: attr(class) "\A" !important;
    font-size: 9px;
    opacity: 0.5;
}

/* Remove shadow from search results */
[class*="searchResultMessage-"] {
	box-shadow: none !important;
}

/* Hide ugly fade on some elements */
[class*="option-"]::after,
[class*="children-"]::after,
[class*="resultsGroup-"]::after,
[class*="searchResult-"]::after,
[class*="searchResult-"]::before {
	color: transparent !important;
	background: none !important;
}


/* fonts */
*:not(code):not([class*="hljs"]):not(.name-3_Dsmg) {
	font-family: "Roboto Condensed" !important;
	font-size: 13px !important;    /* boomer font size */
}

/* channel names */
[class*="name-"] {
	font-size: 14px !important;
}

code,
.inline,
.codeLine-3qsZPQ,
[class*="codeBlockText-"],
[class*="codeBlockText-"] * {
	font-family: Monospace !important;
	font-weight: bold !important;
	font-size: 12px !important;
}

/* hide sidebar image */
[class^="animatedContainer-"] {
	display: none !important;
}

/* use browser scrollbar */
[class^="scrollbar-"] {
	display: none !important;
}

/* @TODO see what this does */
.scroller-2wx7Hm,
.scroller-2FKFPG {
	overflow-y: auto;
}

/* discord icon (top-left) */
svg[class*="homeIcon-"] path {
	color: var(--fg1) !important;
}

/* unread server indicator */
.pill-31IEus .item-2hkk8m {
	background-color: var(--fg1) !important;
}
/* hide unread channel indicator */
.unread-3zKkbm {
	display: none !important;
}


/*
 * collapsed sidebar
 */
/* servers */
[class*="guilds-"] {
	margin-left: -60px;
	transition: all 200ms;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 102;
	background-color: var(--bg1) !important;
}

/* align unread server indicator */
[class*="guilds-"] * [class*="pill-"] {
	margin-left: 60px;
}

/* re-align messages area */
.base-3dtUhz {
	margin-left: -60px;
	padding-left: 40px;
}

/* expand on hover */
[class*="guilds-"]:hover * [class*="pill-"],
[class*="guilds-"]:hover {
	margin-left: 0px;
}

/* channels sidebar */
[class*="sidebar-"] {
	transition: all 200ms;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -198px;
	z-index: 2;
	background-color: var(--bg2) !important;
}

/* expand on hover */
[class*="sidebar-"]:hover {
	left: 0;
}

/* fix alignment of channel icons when collapsed */
.sidebar-2K8pFh:not(:hover) * [class*="containerDefault"]:not([role]) {
	position: relative;
	left: 194px;
}
/* category icons */
[class*="sidebar-"]:not(:hover) * .icon-WnO6o2 {
	position: relative;
	left: 182px;
}

/* hide text when collapsed */
[class^="sidebar-"]:not(:hover) * .children-Bmpf2Q,
[class^="sidebar-"]:not(:hover) * [class^="name-"] {
	display: none !important;
}

/* bring sidebar above top bar */
[class^="sidebar-"] {
	z-index: 101 !important;
}
/* ping indicator on channels */
[class^="numberBadge-"] {
	background-color: var(--fg1) !important;
	color: var(--bg1) !important;
	font-size: 10px !important;
	font-family: monospace !important;
	font-weight: 500 !important;
	padding: 0 !important;
}

[class^="sidebar-"]:not(:hover) * [class^="numberBadge-"] {
	position: relative;
	left: -24px;
	top: -3px;
}

.inputDefault-A2ud2y,
.auditLog-3jNbM6 strong,
.userHook-3AdCBF,
.textRow-19NEd_,
.activityName-1IaRLn,
.headerText-1HLrL7,
.headerTagUsernameNoNickname-2_H881,
.body-3iLsc4,
.headerName-fajvi9,
.bannerVisible-14J9lQ .header-2o-2hj,
.theme-dark .embedFooterText-28V_Wb,
.theme-dark .embedAuthorName-3mnTWj,
.embedDescription-1Cuq9a,
.modeSelected-1zApJ_ * path,
.modeUnread-1zpFdA * path {
	color: var(--fg1) !important;
}

.flexChild-faoVW3,
.colorPrimary-3b3xI6,
.cooldownWrapper-3joyFc,
.roleName-32vpEy,
.bodyInner-245q0L,
.body-3iLsc4,
.headerTag-2pZJzA {
	color: var(--fg2) !important;
}

.channelHeader-3Gd2xq,
.header-GwIGlr,
.modal-yWgWj-,
.footer-3rDWdC,
.bodyInner-245q0L,
.body-3iLsc4,
.footer-1fjuF6,
.title-3qD0b- {
	background-color: var(--bg1) !important;
}

.header-2BwW8b,
.headerNormal-T_seeN,
.quickMessage-2XpSaN {
	background-color: var(--bg2) !important;
}

.theme-dark .card-FDVird::before,
.message-2qnXI6:hover,
.content-3dzVd8:hover {
	background-color: var(--bg3)
}

.embedInner-1-fpTo {
	background-color: var(--button) !important;
}


.markup-2BOw-j a:visited {
	color: orchid;
}


.theme-dark {
    --header-primary: var(--fg1);
    --header-secondary: var(--fg2);
    --text-normal: var(--fg1);
    --text-muted: var(--fg2);
    --text-link: cornflowerblue;
    --channels-default: var(--fg2);
    --interactive-normal: var(--fg2);
    --interactive-hover: var(--fg1);
    --interactive-active: var(--fg1);
    --interactive-muted: var(--fg2);
    --background-primary: var(--bg);
    --background-secondary: var(--bg3);
	--background-secondary-alt: var(--bg3);
    --background-tertiary: var(--bg1);
    --background-accent: var(--accent);
    --background-floating: var(--bg1);
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: var(--bg1);
    --activity-card-background: var(--bg2);
    --deprecated-panel-background: var(--bg3);
	--background-modifier-selected: var(--bg1);
	--elevation-low: none !important;
	--background-message-hover: var(--bg3) !important;
}

.outer-1AjyKL.interactive-3B9GmY:hover,
.inset-3sAvek,
.infoBar-U6oBFk,
.panels-j1Uci_,
.container-PNkimc,
.scroller-2TZvBN {
	background-color: var(--bg3) !important;
}
/*
pre,
code,
.markup-2BOw-j {
	max-width: 700px !important;
}*/
/* *:not(code):not([class*="hljs"]):not(.name-3_Dsmg)
 */


/*.username-_4ZSMR[style*="color: rgb(27,"] {
	color: var(--fg1) !important;
}


.markup-2BOw-j s .emoji,
.markup-2BOw-j strong .emoji,
.markup-2BOw-j em .emoji {
	width: 3rem !important;
	height: 3rem !important;
	min-height: 3rem !important;
}

.emoji[aria-label*=":stare"] {
	width: 5rem !important;
	height: 5rem !important;
	min-height: 5rem !important;
}*/

/* Padding in main content area
Thanks _diamondburned_#4507 */
[class^="chatContent"] > form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: initial;
}

[class^="chatContent"] > div > div > div > div, 
[class^="chatContent"] [class^="channelTextArea"] {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

[class^="chatContent"] [class^="channelTextArea"] {
    margin-bottom: 15px;
}

[class^="chatContent"] div[class^="typing"] {
    max-width: 1000px;
    width: 100%;
    transition: all 150ms linear;
    background-color: transparent !important;
    top: -10px;
    height: 0;
    position: relative;
    overflow: visible;
	margin: 0 auto;
}

/* Autocomplete popup */
[class*="autocomplete-"] {
    background-color: var(--bg3) !important;
}

[class*="selectorSelected"] {
    background-color: var(--bg1) !important;
}

/* messages placeholder text */
.edited-3sfAzf,
.placeholder-37qJjk {
	opacity: 0.3 !important;
}





.lookFilled-1Gx00P.colorBrand-3pXr91 * span,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	color: var(--contrast) !important;
	background-color: var(--accent) !important;
}



.container-1D34oG,
.footer-3mqk7D,
.uploadModal-2ifh8j {
	background-color: var(--bg1) !important;
}




.timestampCozyAlt-1Hs08c {
	font-size: 9px !important;
}

.reaction-1hd86g .emoji {
	width: 16px !important;
	height: 16px !important;
}

.reaction-1hd86g {
	height: 20px !important;
	margin-top: 4px;
}

.edited-DL9ECl {
	opacity: 0.5 !important;
}


.barInner-3NDaY_ {
	background-color: var(--fg2) !important;
}
.customStatusText-3YJeRZ,
[class*="autocomplete"] * {
	color: var(--fg2);
}

.barBase-39XTcM {
	background-color: var(--accent);
}

.barButtonIcon-3FGqPD path,
.barButtonBase-3UKlW2,
.span-3ncFWM {
	color: var(--contrast) !important;
}




.content-yTz4x3 {
	margin-left: 0 !important;
}
.modeMuted-3osy7j {
	opacity: 0.5 !important;
}
.message-2qnXI6 {
	width: calc(100% - 78px) !important;
}
.message-2qnXI6 {
	padding-right: 0px !important;
}
.username-1A8OIy {
	font-weight: 600;
}

#channels > div[style*="width: 100%;"] {
	display: none;
}
