@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--bgdark:    #15171d;
    --bglight:   #1c202a;

    --fgdark:    #cbe3f1;
	--fglight:   #cbe3f1;
	
    --blue:      #4d9de0;
    --cyan:      #23a6c1;
    --green:     #29c583;
	--border:    #334455;
	--disabled:  #696969;
}

:root{
  scrollbar-color: var(--blue) var(--bgdark) !important;
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
} 

/* Dark native firefox pages */

/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

/*	Stylesheet from Cathode Overheated 4.0 theme
    Created by Enframed, 2018-11-08
    
	
    userContent.css affects the browser's content, which are all Firefox-specific
	pages. This includes the new tab page (about:newtab), the options page
	(about:preferences), addons page (about:addons), and so on. 
	
	Note. This file does not exist in your profile default. You should replace
	it manually to the 'chrome' folder. There is require to create it
	(all lower case) at this path:
	
	Windows Vista, 7, 8 and 10:
	"C:\Users\<user name>\AppData\Roaming\Mozilla\Firefox\Profiles\xxxxxxxx.default" folder,
	
	Linux:
	"/home/<username>/.mozilla/firefox/xxxxxxxx.default" folder,
	
	Mac OS X:
	"Users/<username>/Library/Application Support/Firefox/Profiles/xxxxxxxx.default" folder.
	
	PS: This CSS contains unexacting faults have no effect on working. */ 
   
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

dialog, window, .prefpane, .windowDialog  {}
tab {color: var(--bgdark)!important;}
xul|listheader, xul|treecols {border-bottom: 1px solid #696969!important;}

@namespace url(http://www.w3.org/1999/xhtml);

*|*:root {

	/*	**************** TYPICALLY USED COLORS ****************/
	/*	var(--bgdark)	background*/
	/*	var(--bglight)	panels*/
	/*	#223344	list odd background color*/

	/*	var(--border)	[1]borders, separators, lines... darker*/
	/*	#667788	[2]borders, separators, lines... lighter*/

	/*	var(--blue)	active color MIN icons*/
	/*	var(--blue)	active color of MAX elements*/
	/*	var(--blue)	link, title, active borders*/
	/*	var(--cyan)	link visited*/

	/*	#696969	disabled text, subtitle*/
	/*	var(--bgdark)	default text*/
	/*	var(--fglight)	selected text*/

	--in-content-page-color: var(--bgdark)!important;
	--in-content-page-background: var(--bgdark)!important;
	--in-content-text-color: var(--bgdark)!important;
	--in-content-selected-text: var(--bgdark)!important;
	--in-content-box-background: var(--bglight)!important;
	--in-content-box-background-odd: #223344!important;
	--in-content-box-background-hover: var(--bglight)!important;
	--in-content-box-background-active: var(--bglight)!important;
	--in-content-box-border-color: var(--border)!important;
	--in-content-item-hover: rgba(192,192,192,0.2)!important;
	--in-content-item-selected: var(--blue)!important;
	--in-content-border-highlight: var(--border)!important;
	--in-content-border-focus: var(--blue)!important;
	--in-content-border-color: var(--bgdark)!important;
	--in-content-category-outline-focus: 1px dotted var(--blue)!important;
	--in-content-category-text: var(--bgdark)!important;
	--in-content-category-text-active: var(--bgdark)!important;
	--in-content-category-text-selected: var(--blue)!important;
	--in-content-category-text-selected-active: var(--fglight)!important;
	--in-content-category-background-hover: rgba(64,64,64,0.6)!important;
	--in-content-category-background-active: var(--blue)!important;
	--in-content-category-background-selected-hover: var(--blue)!important;
	--in-content-category-background-selected-active: rgba(0,64,96,1)!important;
	--in-content-tab-color: var(--bglight)!important;
	--in-content-link-color: var(--blue)!important;
	--in-content-link-color-hover: var(--bgdark)!important;
	--in-content-link-color-active: var(--blue)!important;
	--in-content-link-color-visited: var(--cyan)!important;
	--in-content-primary-button-background: var(--bgdark) !important;
	--in-content-primary-button-background-hover: var(--border) !important;
	--in-content-primary-button-background-active: var(--blue) !important;
	--in-content-table-background: #223344 !important;
	--in-content-table-border-dark-color: var(--border) !important;
	--in-content-table-header-background: var(--bgdark) !important;
	--grey-20: var(--bglight)!important;
	--grey-90: var(--bgdark)!important;
	--grey-90-a10: rgba(24, 26, 33, 0.1)!important;
	--grey-90-a20: rgba(24, 26, 33, 0.2)!important;
	--grey-90-a30: rgba(24, 26, 33, 0.3)!important;
}


/* WINDOWS STYLE BOXES ****************************************/
@media (-moz-windows-default-theme: 0) {
xul|*.checkbox-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 1px!important;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(var(--bgdark), var(--bgdark))!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|checkbox:not([disabled="true"]):hover > xul|*.checkbox-check {
	border-radius: 1px!important;
	border-color: var(--in-content-border-focus)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.checkbox-check[checked] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
	border-radius: 1px!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.radio-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 50%;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(var(--bgdark), var(--bgdark))!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|radio:not([disabled="true"]):hover > xul|*.radio-check {
	border-color: var(--in-content-border-focus)!important;
}

xul|*.radio-check[selected] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
}
}


/**************************************************************/
dialog, window, .prefpane, .windowDialog {
	background-color: var(--bgdark)!important;
	color: var(--bgdark)!important;
}

richlistitem[selected="true"] {
	background-color: var(--bglight) !important;
}

.title {
	fill: #696969!important;
}

.top-site-outer .top-site-icon {
	color: var(--border)!important;
	border-radius: 0px!important;
}

.top-site-outer .tile {
	border-radius: 1px!important;
	box-shadow: inset 0 0 0 0px var(--newtab-inner-box-shadow-color), var(--newtab-card-shadow)!important;
}

.top-site-outer .default-icon, .top-site-outer .search-topsite {
	background-size: 16px!important;
	height: 24px!important;
	width: 24px!important;
	display: none!important;

}
#warningTitle {
	color: var(--blue)!important;
}


/* ALL ABOUT: PAGES STYLE *************************************/
@-moz-document url-prefix(about:){
#content,
#appcontent,
browser,
html, body {
	background-color:var(--bgdark)!important;	/*priority 1*/
	background: var(--bgdark) !important;		/*priority 1*/
	color:var(--bgdark) !important;			/*priority 1*/

	--newtab-background-color: var(--bgdark) !important;
	--newtab-border-primary-color: var(--border) !important;
	--newtab-border-secondary-color: var(--border) !important;
	--newtab-button-primary-color: var(--bglight) !important;
	--newtab-button-secondary-color: inherit !important;
	--newtab-element-active-color: rgba(105, 146, 197, 0.6) !important;
	--newtab-element-hover-color: var(--bglight) !important;
	--newtab-icon-primary-color: var(--bgdark) !important;
	--newtab-icon-secondary-color: #667788 !important;
	--newtab-icon-tertiary-color: var(--blue) !important;
	--newtab-inner-box-shadow-color: rgba(0, 0, 0, 0.1) !important;
	--newtab-link-primary-color: var(--blue) !important;
	--newtab-link-secondary-color: var(--blue) !important;
	--newtab-text-conditional-color: #667788 !important;
	--newtab-text-primary-color: var(--bgdark) !important;
	--newtab-text-secondary-color: #696969 !important;
	--newtab-textbox-background-color: var(--bgdark) !important;
	--newtab-textbox-border: var(--border) !important;
	--newtab-textbox-focus-color: var(--blue) !important;
	--newtab-textbox-focus-boxshadow: 0 0 0 1px rgba(0, 96, 192, 0.2), 0 0 0 4px rgba(0, 96, 192, 0.1) !important;
	--newtab-contextmenu-background-color: var(--bgdark) !important;
	--newtab-contextmenu-button-color: var(--blue) !important;
	--newtab-modal-color: var(--bgdark) !important;
	--newtab-overlay-color: rgba(0, 0, 0, 0.5) !important;
	--newtab-section-header-text-color: var(--bgdark) !important;
	--newtab-section-navigation-text-color: var(--green) !important;
	--newtab-section-active-contextmenu-color: var(--fglight) !important;
	--newtab-search-border-color: var(--border) !important;
	--newtab-search-dropdown-color: var(--bgdark) !important;
	--newtab-search-dropdown-header-color: var(--bglight) !important;
	--newtab-search-header-background-color: var(--bglight) !important;
	--newtab-search-icon-color: var(--bgdark) !important;
	--newtab-topsites-background-color: var(--bgdark) !important;
	--newtab-topsites-icon-shadow: inset 0 0 0 1px !important;
	--newtab-topsites-label-color: inherit !important;
	--newtab-card-active-outline-color: var(--blue) !important;
	--newtab-card-background-color: #111 !important;
	--newtab-card-hairline-color: rgba(64, 64, 64, 0.0) !important;
	--newtab-card-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5) !important;
	--newtab-snippets-background-color: var(--border) !important;
	--newtab-snippets-hairline-color: transparent !important;
}
body[lwt-newtab-brighttext] {
	--newtab-background-color: var(--bgdark) !important;
	--newtab-border-primary-color: var(--border) !important;
	--newtab-border-secondary-color: var(--border) !important;
	--newtab-button-primary-color: var(--bglight) !important;
	--newtab-button-secondary-color: inherit !important;
	--newtab-element-active-color: var(--blue)99 !important;
	--newtab-element-hover-color: var(--bglight) !important;
	--newtab-icon-primary-color: var(--bgdark) !important;
	--newtab-icon-secondary-color: #667788 !important;
	--newtab-icon-tertiary-color: var(--blue) !important;
	--newtab-inner-box-shadow-color: rgba(0, 0, 0, 0.1) !important;
	--newtab-link-primary-color: var(--blue) !important;
	--newtab-link-secondary-color: var(--blue) !important;
	--newtab-text-conditional-color: #667788 !important;
	--newtab-text-primary-color: var(--bgdark) !important;
	--newtab-text-secondary-color: #696969 !important;
	--newtab-textbox-background-color: var(--bgdark) !important;
	--newtab-textbox-border: var(--border) !important;
	--newtab-textbox-focus-color: var(--blue) !important;
	--newtab-textbox-focus-boxshadow: 0 0 0 1px var(--blue)33, 0 0 0 4px var(--blue)1a !important;
	--newtab-contextmenu-background-color: var(--bgdark) !important;
	--newtab-contextmenu-button-color: var(--blue) !important;
	--newtab-modal-color: var(--bgdark) !important;
	--newtab-overlay-color: rgba(0, 0, 0, 0.5) !important;
	--newtab-section-header-text-color: var(--bgdark) !important;
	--newtab-section-navigation-text-color: var(--green) !important;
	--newtab-section-active-contextmenu-color: var(--fglight) !important;
	--newtab-search-border-color: var(--border) !important;
	--newtab-search-dropdown-color: var(--bgdark) !important;
	--newtab-search-dropdown-header-color: var(--bglight) !important;
	--newtab-search-header-background-color: var(--bglight) !important;
	--newtab-search-icon-color: var(--bgdark) !important;
	--newtab-topsites-background-color: var(--bgdark) !important;
	--newtab-topsites-icon-shadow: inset 0 0 0 1px !important;
	--newtab-topsites-label-color: inherit !important;
	--newtab-card-active-outline-color: var(--blue) !important;
	--newtab-card-background-color: #111 !important;
	--newtab-card-hairline-color: rgba(64, 64, 64, 0.0) !important;
	--newtab-card-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5) !important;
	--newtab-snippets-background-color: var(--border) !important;
	--newtab-snippets-hairline-color: transparent !important;
}

/* TUTORIAL DIALOG ********************************************/
#onboarding-tour-description {
	color:var(--bgdark)!important;
}

.onboarding-tour-item {
	--onboarding-tour-item-active-color: var(--blue)!important;
}

.onboarding-tour-content {
	/* filter: invert(80%); !!!PERNICIOUS!!!*/
}

#onboarding-overlay-dialog {
	color: var(--bgdark)!important;
	background: var(--bgdark)e!important;
	background-color: rgba(32, 32, 32 ,0.85) !important;
	border: 1px solid rgb(64, 64, 64, 0.9)!important;
	border-radius: 1px!important;
}

.onboarding-action-button {
	color: var(--bgdark)!important;
	background: var(--bgdark)0!important;
	background-color: rgba(32, 32, 32 ,0)!important;
	border: 1px solid rgba(64, 64, 64, 1)!important;
	border-radius: 1px!important;
}

.onboarding-tour-action-button {
	color: var(--bgdark)!important;
	background: var(--bgdark)d!important;
	background-color: rgba(48, 48, 48, 0.85)!important;
	border: 1px solid rgba(64, 64, 64, 1)!important;
	border-radius: 1px!important;
}


/* CHECKBOXES AND RADIO BUTTONS *******************************/

xul|*.checkbox-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 1px!important;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(var(--bgdark), var(--bgdark))!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|checkbox:not([disabled="true"]):hover > xul|*.checkbox-check {
	border-radius: 1px!important;
	border-color: var(--in-content-border-focus)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.checkbox-check[checked] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
	border-radius: 1px!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.radio-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 50%;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(var(--bgdark), var(--bgdark))!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|radio:not([disabled="true"]):hover > xul|*.radio-check {
	border-color: var(--in-content-border-focus)!important;
}

xul|*.radio-check[selected] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
}


/* TREE VIEWS *************************************************/
xul|treecol:not([hideheader="true"]), xul|treecolpicker {
	background-color: var(--bgdark)!important;
	color: var(--bgdark)!important;
}

xul|treecol:not([hideheader="true"]):not(:first-child), xul|treecolpicker {
	border-image: linear-gradient(transparent 0%, transparent 20%, #696969 20%, #696969 80%, transparent 80%, transparent 100%) 1 1!important;
}

xul|listheader, xul|treecols {
	border-bottom: 1px solid var(--in-content-border-highlight)!important;
}

.header-button:not([disabled="true"]):hover,
#header-utils-btn:not([disabled="true"]):hover {
	background-color: #404040!important;
}

.header-name {
	background-color: var(--blue)!important;
}


/* DIALOG BOXES ***********************************************/
*|*.dialogBox {
	background-color: var(--bgdark)!important;
	color: var(--bgdark)!important;
	border: 1px solid var(--border)!important;
	border-radius: 1px!important;
}

*|*.groupbox-title {
	background-color: var(--bgdark)!important;
	border-bottom: 1px solid var(--border)!important;
}


/* CATEGORIES *************************************************/
*|*#categories > *|*.category:hover {
	background-color: var(--in-content-category-background-hover);
	border-radius: 1px!important;
}

*|*#categories > *|*.category:hover:active {
	background-color: var(--in-content-category-background-active);
}

*|*#categories > *|*.category[selected],
*|*#categories > *|*.category.selected {
	color: var(--in-content-category-text)!important;
	background-color: var(--in-content-category-background-selected-hover)!important;
}

*|*#categories > *|*.category[selected]:hover,
*|*#categories > *|*.category.selected:hover {
	background-color: var(--in-content-category-background-selected-hover)!important;
}

*|*#categories > *|*.category[selected]:hover:active,
*|*#categories > *|*.category.selected:hover:active {
	color: var(--in-content-category-text-selected-active)!important;
	background-color: var(--in-content-category-background-selected-active)!important;
}

*|*.navigation {
	border-width: 1px;
	border: 1px solid rgb(64, 64, 64) !important;
}


/* READ MODE TOOLBAR *****************************************/
.toolbar {
    background-color: var(--bgdark)!important;
    border-right: 1px solid var(--border)!important;
}

.toolbar .button {
    border-right: 1px solid var(--border)!important;
    border-bottom: 1px solid var(--border)!important;
    -moz-context-properties: fill;
    fill: #696969!important;
}

.button {
	color: #696969!important;
	background-color: var(--bgdark)!important;

}

.button:hover, .font-size-buttons > button:hover,
.font-type-buttons > button:hover, .content-width-buttons > button:hover,
.line-height-buttons > button:hover {
	background-color: var(--border)!important;
}

.dropdown-popup {
    background-color: var(--bglight)!important;
    border-radius: 2px!important;
    border: 1px solid var(--border)!important;
    box-shadow: 0 1px 3px #111!important;
}

.dropdown-arrow {
    filter: brightness(20%)!important;
}

.font-type-buttons > button:active:hover, .font-type-buttons > button.selected,
.color-scheme-buttons > button:active:hover, .color-scheme-buttons > button.selected {
    box-shadow: inset 0 -3px 0 0 var(--blue)!important;
}
.font-type-buttons > button, .font-size-buttons > button,
.content-width-buttons > button, .line-height-buttons > button {
    border-left: 1px solid #696969!important;
    border-bottom: 1px solid #696969!important;
}

.sepia-button {
    color: #554030!important;
    background-color: #A98!important;
}


/* TABLES & OTHERS ********************************************/
table {
	border: 0px!important;
}

th {
	border-color: #667788!important;
}

th.title-column {
	background-color: var(--bgdark)
	border-color: #667788!important;
}

.active-policies tr.odd, .errors tr:nth-child(2n+1), tbody:nth-child(4n+1) {
	background-color: #223344 !important;
}
tr:hover td {
	background-color: var(--blue)!important;
}

.major-section {
	background-color: var(--blue)!important;
}

.notice-box {
	background-color: var(--in-content-table-header-background) !important;
	border: 1px solid var(--in-content-border-highlight)!important;
}

#action-box > h3, #reset-box > h3 {
	background-color:var(--blue)!important;
}

.firstrun-sign-in {
	background-color: var(--bgdark)!important;
	color: var(--bgdark)!important;
}

.firstrun-sign-in .email-input {
	border: 1px solid var(--border)!important;
}

.firstrun-sign-in .email-input:hover {
	border-color: var(--border)!important;
}

.firstrun-sign-in .continue-button {
	color: var(--bgdark)!important;
	background: var(--bglight)!important;
	border: 1px solid rgb(64, 64, 64)!important;
	border-radius: 1px!important;
}

.firstrun-sign-in .skip-button {
	color: var(--bgdark)!important;
	background: var(--bgdark)!important;
	border: 1px solid rgb(64, 64, 64)!important;
	border-radius: 1px!important;
}

.detail-view-container {
	background: var(--bgdark)d!important;
	color: var(--bgdark)!important;
}

.addon-view .warning {
	color: var(--blue)!important;
}

.schema {
	color:var(--bgdark)!important;
background-color: var(--bglight)!important;

}
.detail-row, .detail-row-complex {
	color: #696969;
	text-shadow: 0 1px 1px transparent!important;
}

.addon-target-container {
	background: var(--bglight)!important;
}

.service-worker-multi-process {
	background-color: var(--bglight)!important;
}

*|textbox {
    border-radius: 1px!important;
}

*|button.primary {
    border-color: var(--border)!important;
}

html|h1 {
  color: var(--blue)!important;
}

scrollbar {
    background-color: val(--in-content-box-border-color)!important;
}

#ping-picker {
    background-color: var(--bgdark)!important;
}

#content > div {
    border: 0 !important;
    border-radius: 1px !important;
    background: none repeat scroll 0% 0% var(--bglight) !important;
}

.info-box-content {
	background: var(--bglight)!important;
	border: 1px solid rgb(64, 64, 64)!important;
    border-radius: 1px!important;
}

*|*.Button--action {
	background: var(--bgdark)!important;
	background-color: rgb(32, 32, 32)!important;
	border: 1px solid rgb(64, 64, 64)!important;
	border-radius: 1px!important;
}


/* IMAGE FILTERS **********************************************/
.searchBarHiddenImage {
	filter: invert(86%);
}
.searchBarShownImage {
	filter: invert(86%);
}

#homeContentsGroup checkbox[src] .checkbox-icon {
	filter: invert(70%);
}
.content-blocking-checkbox .checkbox-icon {
	filter: invert(70%);
}

.addon-view[type="plugin"] .icon {
	filter: invert(70%);
}

.inverted-icons .target-icon {
	filter: invert(70%)!important;
}

.meta-rating > .star[on="true"] {
	filter: invert(70%);
}

.tree-columnpicker-icon {
	filter: invert(70%);
}

.addons-tip-icon {
	filter: invert(70%);
}

.warning {
	filter: contrast(0%)!important;
}

.fxaSyncIllustration {
	filter: brightness(30%);
}

.fxaProfileImage {
	filter: brightness(30%);
}

.left-pane {
	filter: invert(80%);
}

.license-header {
	/* filter: invert(80%); !!!PERNICIOUS!!! */
}
}


/* SCREENSHOT UI **********************************************/

.myshots-all-buttons-container {
	background: var(--bgdark)!important;
	border-radius: 1px!important;
}

.myshots-all-buttons-container .spacer {
	background-color: var(--border)!important;
}

.myshots-all-buttons-container button {
	background-color: var(--bgdark)!important;
}

.myshots-all-buttons-container button:hover {
	background-color: var(--border)!important;
	border: 1px solid var(--border)!important;
}

.myshots-all-buttons-container button:active {
	background-color: var(--blue)!important;
	border: 1px solid var(--blue)!important;
}
  
.myshots-all-buttons-container .myshots-button {}
.myshots-all-buttons-container .full-page {}
.myshots-all-buttons-container .visible {}

.button.primary, .primary.highlight-button-cancel,
.highlight-button-save, .primary.highlight-button-download,
.primary.highlight-button-copy, .preview-button-save {
    background-color: var(--blue)!important;
    color: var(--bgdark)!important;
}

.button.secondary, .highlight-button-cancel,
.secondary.highlight-button-save, .highlight-button-download,
.highlight-button-copy, .secondary.preview-button-save {
	background-color: var(--bgdark)!important;
	color: var(--bgdark)!important;
}

.button, .highlight-button-cancel, .highlight-button-save,
.highlight-button-download, .highlight-button-copy,
.preview-button-save {
	border: 1px solid var(--border)!important;
	border-radius: 1px!important;
}

/*/_______ADDONS_PAGE_FIX________/*/

@-moz-document url(about:addons){
	.addon.card { 
	 
	 max-width: 950px !important;
	 padding: 4px !important;
	 padding-right: 6px !important;
	 padding-left: 11px !important;
	 margin: -1px !important;
	 margin-top: 4px !important; 
	 font-size: 11px !important;
	 font-family: Arial !important;
	 /*font-weight: bold !important;*/
	 border-radius: 7px !important;
		
 }
 
 #header-inner {
	 
	 margin-left: -133px !important;
	 margin-bottom: -27px !important;
  
 }
 
 .heading-inner {
	 width: 1795px !important;
	 margin-left: -1185px !important;
	 margin-top: -28px !important;
	 
 }
 
 .toolbarbutton-icon {
	 padding: 0px 2px !important;
	 margin-left: -222px !important;
	 margin-right: 0px !important;
	 margin-top: -2px !important;
	 padding-top: 2px !important;}