@namespace url("http://www.w3.org/1999/xhtml");

:root{
  scrollbar-color: #6992c5 #181a21 !important;
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
} 

/* Dark native firefox pages */

/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

/*	Stylesheet from Cathode Overheated 4.0 theme
    Created by Enframed, 2018-11-08
    
	
    userContent.css affects the browser's content, which are all Firefox-specific
	pages. This includes the new tab page (about:newtab), the options page
	(about:preferences), addons page (about:addons), and so on. 
	
	Note. This file does not exist in your profile default. You should replace
	it manually to the 'chrome' folder. There is require to create it
	(all lower case) at this path:
	
	Windows Vista, 7, 8 and 10:
	"C:\Users\<user name>\AppData\Roaming\Mozilla\Firefox\Profiles\xxxxxxxx.default" folder,
	
	Linux:
	"/home/<username>/.mozilla/firefox/xxxxxxxx.default" folder,
	
	Mac OS X:
	"Users/<username>/Library/Application Support/Firefox/Profiles/xxxxxxxx.default" folder.
	
	PS: This CSS contains unexacting faults have no effect on working. */ 
   
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

dialog, window, .prefpane, .windowDialog  {}
tab {color: #c0c0c0!important;}
xul|listheader, xul|treecols {border-bottom: 1px solid #696969!important;}

@namespace url(http://www.w3.org/1999/xhtml);

*|*:root {

	/*	**************** TYPICALLY USED COLORS ****************/
	/*	#181a21	background*/
	/*	#1d2029	panels*/
	/*	#223344	list odd background color*/

	/*	#445566	[1]borders, separators, lines... darker*/
	/*	#667788	[2]borders, separators, lines... lighter*/

	/*	#6992c5	active color MIN icons*/
	/*	#476385	active color of MAX elements*/
	/*	#6992c5	link, title, active borders*/
	/*	#1d8a99	link visited*/

	/*	#696969	disabled text, subtitle*/
	/*	#CCC	default text*/
	/*	#FFF	selected text*/

	--in-content-page-color: #ccc!important;
	--in-content-page-background: #181a21!important;
	--in-content-text-color: #c0c0c0!important;
	--in-content-selected-text: #c0c0c0!important;
	--in-content-box-background: #1d2029!important;
	--in-content-box-background-odd: #223344!important;
	--in-content-box-background-hover: #1d2029!important;
	--in-content-box-background-active: #476385!important;
	--in-content-box-border-color: #445566!important;
	--in-content-item-hover: rgba(192,192,192,0.2)!important;
	--in-content-item-selected: #6992c5!important;
	--in-content-border-highlight: #445566!important;
	--in-content-border-focus: #6992c5!important;
	--in-content-border-color: #ccc!important;
	--in-content-category-outline-focus: 1px dotted #6992c5!important;
	--in-content-category-text: #c0c0c0!important;
	--in-content-category-text-active: #c0c0c0!important;
	--in-content-category-text-selected: #6992c5!important;
	--in-content-category-text-selected-active: #fff!important;
	--in-content-category-background-hover: rgba(64,64,64,0.6)!important;
	--in-content-category-background-active: rgba(0,64,96,0.6)!important;
	--in-content-category-background-selected-hover: rgba(0,64,96,0.6)!important;
	--in-content-category-background-selected-active: rgba(0,64,96,1)!important;
	--in-content-tab-color: #404040!important;
	--in-content-link-color: #6992c5!important;
	--in-content-link-color-hover: #c0c0c0!important;
	--in-content-link-color-active: #6992c5!important;
	--in-content-link-color-visited: #1d8a99!important;
	--in-content-primary-button-background: #202020 !important;
	--in-content-primary-button-background-hover: #445566 !important;
	--in-content-primary-button-background-active: #004080 !important;
	--in-content-table-background: #223344 !important;
	--in-content-table-border-dark-color: #445566 !important;
	--in-content-table-header-background: #181a21 !important;
	--grey-20: #1d2029!important;
	--grey-90: #445566!important;
	--grey-90-a10: rgba(12, 12, 13, 0.1)!important;
	--grey-90-a20: rgba(12, 12, 13, 0.2)!important;
	--grey-90-a30: rgba(12, 12, 13, 0.3)!important;
}


/* WINDOWS STYLE BOXES ****************************************/
@media (-moz-windows-default-theme: 0) {
xul|*.checkbox-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 1px!important;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(#181a21, #181a21)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|checkbox:not([disabled="true"]):hover > xul|*.checkbox-check {
	border-radius: 1px!important;
	border-color: var(--in-content-border-focus)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.checkbox-check[checked] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
	border-radius: 1px!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.radio-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 50%;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(#181a21, #181a21)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|radio:not([disabled="true"]):hover > xul|*.radio-check {
	border-color: var(--in-content-border-focus)!important;
}

xul|*.radio-check[selected] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
}
}


/**************************************************************/
dialog, window, .prefpane, .windowDialog {
	background-color: #181a21!important;
	color: #ccc!important;
}

richlistitem[selected="true"] {
	background-color: #1d2029 !important;
}

.title {
	fill: #696969!important;
}

.top-site-outer .top-site-icon {
	color: #445566!important;
	border-radius: 0px!important;
}

.top-site-outer .tile {
	border-radius: 1px!important;
	box-shadow: inset 0 0 0 0px var(--newtab-inner-box-shadow-color), var(--newtab-card-shadow)!important;
}

.top-site-outer .default-icon, .top-site-outer .search-topsite {
	background-size: 16px!important;
	height: 24px!important;
	width: 24px!important;
	display: none!important;

}
#warningTitle {
	color: #6992c5!important;
}


/* ALL ABOUT: PAGES STYLE *************************************/
@-moz-document url-prefix(about:){
#content,
#appcontent,
browser,
html, body {
	background-color:#202020!important;	/*priority 1*/
	background: #202020 !important;		/*priority 1*/
	color:#c0c0c0 !important;			/*priority 1*/

	--newtab-background-color: #181a21 !important;
	--newtab-border-primary-color: #445566 !important;
	--newtab-border-secondary-color: #445566 !important;
	--newtab-button-primary-color: #1d2029 !important;
	--newtab-button-secondary-color: inherit !important;
	--newtab-element-active-color: rgba(0, 96, 128, 0.6) !important;
	--newtab-element-hover-color: #1d2029 !important;
	--newtab-icon-primary-color: #c0c0c0 !important;
	--newtab-icon-secondary-color: #667788 !important;
	--newtab-icon-tertiary-color: #6992c5 !important;
	--newtab-inner-box-shadow-color: rgba(0, 0, 0, 0.1) !important;
	--newtab-link-primary-color: #6992c5 !important;
	--newtab-link-secondary-color: #6992c5 !important;
	--newtab-text-conditional-color: #667788 !important;
	--newtab-text-primary-color: #CCC !important;
	--newtab-text-secondary-color: #696969 !important;
	--newtab-textbox-background-color: #181a21 !important;
	--newtab-textbox-border: #445566 !important;
	--newtab-textbox-focus-color: #6992c5 !important;
	--newtab-textbox-focus-boxshadow: 0 0 0 1px rgba(0, 96, 192, 0.2), 0 0 0 4px rgba(0, 96, 192, 0.1) !important;
	--newtab-contextmenu-background-color: #181a21 !important;
	--newtab-contextmenu-button-color: #6992c5 !important;
	--newtab-modal-color: #181a21 !important;
	--newtab-overlay-color: rgba(0, 0, 0, 0.5) !important;
	--newtab-section-header-text-color: #CCC !important;
	--newtab-section-navigation-text-color: #0F0 !important;
	--newtab-section-active-contextmenu-color: #FFF !important;
	--newtab-search-border-color: #445566 !important;
	--newtab-search-dropdown-color: #181a21 !important;
	--newtab-search-dropdown-header-color: #1d2029 !important;
	--newtab-search-header-background-color: #1d2029 !important;
	--newtab-search-icon-color: #CCC !important;
	--newtab-topsites-background-color: #181a21 !important;
	--newtab-topsites-icon-shadow: inset 0 0 0 1px !important;
	--newtab-topsites-label-color: inherit !important;
	--newtab-card-active-outline-color: #476385 !important;
	--newtab-card-background-color: #111 !important;
	--newtab-card-hairline-color: rgba(64, 64, 64, 0.0) !important;
	--newtab-card-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5) !important;
	--newtab-snippets-background-color: #445566 !important;
	--newtab-snippets-hairline-color: transparent !important;
}
body[lwt-newtab-brighttext] {
	--newtab-background-color: #181a21 !important;
	--newtab-border-primary-color: #445566 !important;
	--newtab-border-secondary-color: #445566 !important;
	--newtab-button-primary-color: #1d2029 !important;
	--newtab-button-secondary-color: inherit !important;
	--newtab-element-active-color: rgba(64, 96, 0, 0.6) !important;
	--newtab-element-hover-color: #1d2029 !important;
	--newtab-icon-primary-color: #c0c0c0 !important;
	--newtab-icon-secondary-color: #667788 !important;
	--newtab-icon-tertiary-color: #6992c5 !important;
	--newtab-inner-box-shadow-color: rgba(0, 0, 0, 0.1) !important;
	--newtab-link-primary-color: #6992c5 !important;
	--newtab-link-secondary-color: #6992c5 !important;
	--newtab-text-conditional-color: #667788 !important;
	--newtab-text-primary-color: #CCC !important;
	--newtab-text-secondary-color: #696969 !important;
	--newtab-textbox-background-color: #181a21 !important;
	--newtab-textbox-border: #445566 !important;
	--newtab-textbox-focus-color: #6992c5 !important;
	--newtab-textbox-focus-boxshadow: 0 0 0 1px rgba(0, 96, 192, 0.2), 0 0 0 4px rgba(0, 96, 192, 0.1) !important;
	--newtab-contextmenu-background-color: #181a21 !important;
	--newtab-contextmenu-button-color: #06E !important;
	--newtab-modal-color: #181a21 !important;
	--newtab-overlay-color: rgba(0, 0, 0, 0.5) !important;
	--newtab-section-header-text-color: #CCC !important;
	--newtab-section-navigation-text-color: #0F0 !important;
	--newtab-section-active-contextmenu-color: #FFF !important;
	--newtab-search-border-color: #445566 !important;
	--newtab-search-dropdown-color: #181a21 !important;
	--newtab-search-dropdown-header-color: #1d2029 !important;
	--newtab-search-header-background-color: #1d2029 !important;
	--newtab-search-icon-color: #CCC !important;
	--newtab-topsites-background-color: #181a21 !important;
	--newtab-topsites-icon-shadow: inset 0 0 0 1px !important;
	--newtab-topsites-label-color: inherit !important;
	--newtab-card-active-outline-color: #476385 !important;
	--newtab-card-background-color: #111 !important;
	--newtab-card-hairline-color: rgba(64, 64, 64, 0.0) !important;
	--newtab-card-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5) !important;
	--newtab-snippets-background-color: #445566 !important;
	--newtab-snippets-hairline-color: transparent !important;
}

/* TUTORIAL DIALOG ********************************************/
#onboarding-tour-description {
	color:#ccc!important;
}

.onboarding-tour-item {
	--onboarding-tour-item-active-color: #6992c5!important;
}

.onboarding-tour-content {
	/* filter: invert(80%); !!!PERNICIOUS!!!*/
}

#onboarding-overlay-dialog {
	color: #c0c0c0!important;
	background: #181a21e!important;
	background-color: rgba(32, 32, 32 ,0.85) !important;
	border: 1px solid rgb(64, 64, 64, 0.9)!important;
	border-radius: 1px!important;
}

.onboarding-action-button {
	color: #c0c0c0!important;
	background: #181a210!important;
	background-color: rgba(32, 32, 32 ,0)!important;
	border: 1px solid rgba(64, 64, 64, 1)!important;
	border-radius: 1px!important;
}

.onboarding-tour-action-button {
	color: #c0c0c0!important;
	background: #181a21d!important;
	background-color: rgba(48, 48, 48, 0.85)!important;
	border: 1px solid rgba(64, 64, 64, 1)!important;
	border-radius: 1px!important;
}


/* CHECKBOXES AND RADIO BUTTONS *******************************/

xul|*.checkbox-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 1px!important;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(#181a21, #181a21)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|checkbox:not([disabled="true"]):hover > xul|*.checkbox-check {
	border-radius: 1px!important;
	border-color: var(--in-content-border-focus)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.checkbox-check[checked] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
	border-radius: 1px!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|*.radio-check {
	border: 1px solid var(--in-content-border-color)!important;
	border-radius: 50%;
	background-color: var(--in-content-border-color)!important;
	background-image: linear-gradient(#181a21, #181a21)!important;
	box-shadow: 0 0px 0px 0 #000, inset 0 2px 0 0 rgba(0, 0, 0, 0)!important;
}

xul|radio:not([disabled="true"]):hover > xul|*.radio-check {
	border-color: var(--in-content-border-focus)!important;
}

xul|*.radio-check[selected] {
	-moz-context-properties: fill;
	fill: val(--in-content-border-focus)!important;
}


/* TREE VIEWS *************************************************/
xul|treecol:not([hideheader="true"]), xul|treecolpicker {
	background-color: #181a21!important;
	color: #ccc!important;
}

xul|treecol:not([hideheader="true"]):not(:first-child), xul|treecolpicker {
	border-image: linear-gradient(transparent 0%, transparent 20%, #696969 20%, #696969 80%, transparent 80%, transparent 100%) 1 1!important;
}

xul|listheader, xul|treecols {
	border-bottom: 1px solid var(--in-content-border-highlight)!important;
}

.header-button:not([disabled="true"]):hover,
#header-utils-btn:not([disabled="true"]):hover {
	background-color: #404040!important;
}

.header-name {
	background-color: #035!important;
}


/* DIALOG BOXES ***********************************************/
*|*.dialogBox {
	background-color: #181a21!important;
	color: #ccc!important;
	border: 1px solid #445566!important;
	border-radius: 1px!important;
}

*|*.groupbox-title {
	background-color: #181a21!important;
	border-bottom: 1px solid #445566!important;
}


/* CATEGORIES *************************************************/
*|*#categories > *|*.category:hover {
	background-color: var(--in-content-category-background-hover);
	border-radius: 1px!important;
}

*|*#categories > *|*.category:hover:active {
	background-color: var(--in-content-category-background-active);
}

*|*#categories > *|*.category[selected],
*|*#categories > *|*.category.selected {
	color: var(--in-content-category-text)!important;
	background-color: var(--in-content-category-background-selected-hover)!important;
}

*|*#categories > *|*.category[selected]:hover,
*|*#categories > *|*.category.selected:hover {
	background-color: var(--in-content-category-background-selected-hover)!important;
}

*|*#categories > *|*.category[selected]:hover:active,
*|*#categories > *|*.category.selected:hover:active {
	color: var(--in-content-category-text-selected-active)!important;
	background-color: var(--in-content-category-background-selected-active)!important;
}

*|*.navigation {
	border-width: 1px;
	border: 1px solid rgb(64, 64, 64) !important;
}


/* READ MODE TOOLBAR *****************************************/
.toolbar {
    background-color: #181a21!important;
    border-right: 1px solid #445566!important;
}

.toolbar .button {
    border-right: 1px solid #445566!important;
    border-bottom: 1px solid #445566!important;
    -moz-context-properties: fill;
    fill: #696969!important;
}

.button {
	color: #696969!important;
	background-color: #181a21!important;

}

.button:hover, .font-size-buttons > button:hover,
.font-type-buttons > button:hover, .content-width-buttons > button:hover,
.line-height-buttons > button:hover {
	background-color: #445566!important;
}

.dropdown-popup {
    background-color: #1d2029!important;
    border-radius: 2px!important;
    border: 1px solid #445566!important;
    box-shadow: 0 1px 3px #111!important;
}

.dropdown-arrow {
    filter: brightness(20%)!important;
}

.font-type-buttons > button:active:hover, .font-type-buttons > button.selected,
.color-scheme-buttons > button:active:hover, .color-scheme-buttons > button.selected {
    box-shadow: inset 0 -3px 0 0 #6992c5!important;
}
.font-type-buttons > button, .font-size-buttons > button,
.content-width-buttons > button, .line-height-buttons > button {
    border-left: 1px solid #696969!important;
    border-bottom: 1px solid #696969!important;
}

.sepia-button {
    color: #554030!important;
    background-color: #A98!important;
}


/* TABLES & OTHERS ********************************************/
table {
	border: 0px!important;
}

th {
	border-color: #667788!important;
}

th.title-column {
	background-color: #181a21
	border-color: #667788!important;
}

.active-policies tr.odd, .errors tr:nth-child(2n+1), tbody:nth-child(4n+1) {
	background-color: #223344 !important;
}
tr:hover td {
	background-color: #035!important;
}

.major-section {
	background-color: #476385!important;
}

.notice-box {
	background-color: var(--in-content-table-header-background) !important;
	border: 1px solid var(--in-content-border-highlight)!important;
}

#action-box > h3, #reset-box > h3 {
	background-color:#476385!important;
}

.firstrun-sign-in {
	background-color: #181a21!important;
	color: #ccc!important;
}

.firstrun-sign-in .email-input {
	border: 1px solid #445566!important;
}

.firstrun-sign-in .email-input:hover {
	border-color: #445566!important;
}

.firstrun-sign-in .continue-button {
	color: #c0c0c0!important;
	background: #1d2029!important;
	border: 1px solid rgb(64, 64, 64)!important;
	border-radius: 1px!important;
}

.firstrun-sign-in .skip-button {
	color: #c0c0c0!important;
	background: #181a21!important;
	border: 1px solid rgb(64, 64, 64)!important;
	border-radius: 1px!important;
}

.detail-view-container {
	background: #181a21d!important;
	color: #c0c0c0!important;
}

.addon-view .warning {
	color: #6992c5!important;
}

.schema {
	color:#ccc!important;
background-color: #1d2029!important;

}
.detail-row, .detail-row-complex {
	color: #696969;
	text-shadow: 0 1px 1px transparent!important;
}

.addon-target-container {
	background: #1d2029!important;
}

.service-worker-multi-process {
	background-color: #1d2029!important;
}

*|textbox {
    border-radius: 1px!important;
}

*|button.primary {
    border-color: #445566!important;
}

html|h1 {
  color: #6992c5!important;
}

scrollbar {
    background-color: val(--in-content-box-border-color)!important;
}

#ping-picker {
    background-color: #181a21!important;
}

#content > div {
    border: 0 !important;
    border-radius: 1px !important;
    background: none repeat scroll 0% 0% #1d2029 !important;
}

.info-box-content {
	background: #1d2029!important;
	border: 1px solid rgb(64, 64, 64)!important;
    border-radius: 1px!important;
}

*|*.Button--action {
	background: #181a21!important;
	background-color: rgb(32, 32, 32)!important;
	border: 1px solid rgb(64, 64, 64)!important;
	border-radius: 1px!important;
}


/* IMAGE FILTERS **********************************************/
.searchBarHiddenImage {
	filter: invert(86%);
}
.searchBarShownImage {
	filter: invert(86%);
}

#homeContentsGroup checkbox[src] .checkbox-icon {
	filter: invert(70%);
}
.content-blocking-checkbox .checkbox-icon {
	filter: invert(70%);
}

.addon-view[type="plugin"] .icon {
	filter: invert(70%);
}

.inverted-icons .target-icon {
	filter: invert(70%)!important;
}

.meta-rating > .star[on="true"] {
	filter: invert(70%);
}

.tree-columnpicker-icon {
	filter: invert(70%);
}

.addons-tip-icon {
	filter: invert(70%);
}

.warning {
	filter: contrast(0%)!important;
}

.fxaSyncIllustration {
	filter: brightness(30%);
}

.fxaProfileImage {
	filter: brightness(30%);
}

.left-pane {
	filter: invert(80%);
}

.license-header {
	/* filter: invert(80%); !!!PERNICIOUS!!! */
}
}


/* SCREENSHOT UI **********************************************/

.myshots-all-buttons-container {
	background: #181a21!important;
	border-radius: 1px!important;
}

.myshots-all-buttons-container .spacer {
	background-color: #445566!important;
}

.myshots-all-buttons-container button {
	background-color: #181a21!important;
}

.myshots-all-buttons-container button:hover {
	background-color: #445566!important;
	border: 1px solid #445566!important;
}

.myshots-all-buttons-container button:active {
	background-color: #476385!important;
	border: 1px solid #476385!important;
}
  
.myshots-all-buttons-container .myshots-button {}
.myshots-all-buttons-container .full-page {}
.myshots-all-buttons-container .visible {}

.button.primary, .primary.highlight-button-cancel,
.highlight-button-save, .primary.highlight-button-download,
.primary.highlight-button-copy, .preview-button-save {
    background-color: #058!important;
    color: #ccc!important;
}

.button.secondary, .highlight-button-cancel,
.secondary.highlight-button-save, .highlight-button-download,
.highlight-button-copy, .secondary.preview-button-save {
	background-color: #181a21!important;
	color: #ccc!important;
}

.button, .highlight-button-cancel, .highlight-button-save,
.highlight-button-download, .highlight-button-copy,
.preview-button-save {
	border: 1px solid #445566!important;
	border-radius: 1px!important;
}

