@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Contextual toolbar buttons, only show on hover, this is what matters, the rest of the file are just style tweaks I like
 */


:root:not([customizing]) #nav-bar toolbarbutton
 {
    margin-left: -28px !important;
    opacity: 0 !important;
    transform: scale(.85, .85) !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
    transform: scale(1, 1) !important;
opacity:1 !important;
margin-left:0 !important;
pointer-events: auto !important;
}

.tabbrowser-tab{ 
	opacity: 0.33;
	filter: grayscale(50%);
}
.tabbrowser-tab:hover{ 
	opacity: 0.66;
	filter: grayscale(0%);
}
.tabbrowser-tab[selected]{ 
	opacity: 1;
	filter: grayscale(0%);
}

/* Round URL bar */
#urlbar, .searchbar-textbox{
    border-radius: 0.5em !important;
}

/* Hide bookmarks bar until hover */
#PersonalToolbar {
    opacity:0 !important;
    margin-top: -26px !important;
    transition: all 0.2s ease 0s !important;
}

#navigator-toolbox:hover > #PersonalToolbar {
    visibility: visible !important;
    margin-top: 0px !important;
    transition: all 0.2s ease 0s !important;
    opacity: 1 !important;
}

/* auto collapse nav bar height when in stealth mode (not active), kinda jumpy and annoying after a while so let's just comment it for now */

/*
#nav-bar {
	height: 30px !important;
    transition: all 300ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar {
height: 35px !important;
}
*/

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
	background-color: #1d2029 !important;
  }

:root:-moz-lwtheme-brighttext {                                      /* minor color changes to the default dark theme */
	--color-overflow: #222;                                            /* >> button color */
	--chrome-background-color: #181a21 !important;                        /* tab strip background & inactive tabs */
	--chrome-secondary-background-color: #1b2029 !important;              /* nav bar & active tab */
	--chrome-color: #cccccc !important;                                   /* url & tab text, close tab & new tab buttons */
	background-color: #181a21 !important;                                 /* top border of out of focus window */
  }
  
  :root {
	--tabs-border: transparent !important;                             /* active tab left & right borders - not working in 58?*/
	--toolbox-border-bottom-color: transparent !important;             /* 1px line under background tabs */
	--chrome-nav-bar-controls-border-color: transparent !important;    /* border around url bar */
  }
  

/* url bar text shrinks when in "stealth mode" */
#nav-bar #urlbar {
font-size: 13px !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar #urlbar,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #urlbar {
font-size: 16px !important;
}


/* some experimentation with expanding tab on hover to see the title better, it's kinda stupid but I was just messing around, could be something useful in the future */
/*.tabbrowser-tab:not([selected]):hover { 
   min-width: 300px !important;
   transition: min-width 150ms var(--animation-easing-function) 2s !important;
} */


/* random style tweaks I like */
/*
Remove borders everywhere, some code copied from edge style for firefox
*/

 :root {
  --tabs-border: transparent !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important;
}

#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}

/* nav bar is semi opaque when unhovered */
#nav-bar > * {
opacity:0.5;
transition: opacity 0.3s;
}

#nav-bar:hover > * {
opacity:1 !important;
}

#urlbar {
opacity:1 !important;
}

#urlbar .urlbar-input-box {
opacity:1 !important;
}


#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}

#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

.tab-background {
	border-top: none !important;
}

.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1);
	border-top: 0px !important;
	margin-bottom: 0px !important;
}


window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {

	box-shadow: none !important;
	border: 0px !important;
}

#forward-button[disabled] {
	color: #696969 !important;
	background-image: none !important;
}

#forward-button {
	color: #cccccc !important;
	background-image: none !important;
}

#back-button[disabled] {
	color: #696969 !important;
	background-image: none !important;
}

#back-button {
	color: #cccccc !important;
	background-image: none !important;
}


/* bookmarks toolbar edge style */

toolbarbutton.bookmark-item {
	border: 1px rgba(0, 0, 0, 0) solid !important;
}

toolbarbutton.bookmark-item:hover {
	background-color: #696969;
	border: 1px #696969 solid !important;
}

.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}

#TabsToolbar {
	margin-bottom: 0px !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}

#TabsToolbar .tab-background {
	border-right: 0px !important;
	border-left: 0px !important;
}
.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up:hover, .scrollbutton-down:hover {
	background: #6992c5 ;
}
.scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: #6992c5;
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent ;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent;
}

#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}

#tabbrowser-tabs {
	--tab-loading-fill: #1d8a99 !important;
	box-shadow: none !important;
}

.webextension-browser-action {
filter: saturate(0%);
}


:root[lwtheme-image]:-moz-lwtheme-brighttext {
    text-shadow: none !important;
}


/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

.tabbrowser-tab[pending] {
	font-style: italic;
	filter: grayscale(100%) !important;
}


toolbarspring {
    min-width: 8px;
    max-width: 8px;
}

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 300px !important;
}

/*
.tab-line {
	background-color: #6992c5 !important;
	height: 2px !important;
}  

#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: #1d2029 !important;
}
*/

.close-icon {
	border-radius: 0.5em !important;
}

.tabs-newtab-button > #new-tab-button > #alltabs-button {
	border-radius: 0.5em !important;
}

.tabbrowser-tab[selected=false], .tab-content, .tab-background {
    border-radius: 0.6em 0.6em 0 0 !important;
	border-left: 1px solid #334455 !important;
	border-top: 1px solid #334455 !important;
	border-right: 1px solid #334455 !important;

}

.tabbrowser-tab[selected=true] .tab-content, .tab-background {
    border-radius: 0.6em 0.6em 0 0 !important;
    border-left: 1px solid #334455 !important;
    border-top: 1px solid #334455 !important;
	border-right: 1px solid #334455 !important;
}

.tabbrowser-tab:hover .tab-content, .tab-background {
    border-radius: 0.6em 0.6em 0 0 !important;
    border-left: 1px solid #334455 !important;
    border-top: 1px solid #334455 !important;
	border-right: 1px solid #334455 !important;
}

:root{
	--toolbarbutton-border-radius: 0.5em !important;
}

.tabbrowser-tab .tab-text.tab-label {
    color: #cccccc !important;          
}

.tabbrowser-tab:hover .tab-text.tab-label {
    color: #ffffff !important;          
}

.tabbrowser-tab[selected="true"] .tab-text.tab-label {
    color: #ffffff !important;           
}


.tabbrowser-tab[selected="true"] .tab-background {
    /* border: 2px solid #6992c5 !important;  */
    border-bottom: none !important;
    opacity: 1;
}

.tabbrowser-tab .tab-background {
    /*border: 2px solid #696969 !important;  */
    border-bottom: none !important;
    opacity: 1;
}

.tabbrowser-tab:hover .tab-background {
    /*border: 2px solid #6992c5 !important; */
    border-bottom: none !important;
    opacity: 1;
}

.tab-background {
    border: none !important;
    border-radius: 0.6em 0.6em 0 0 !important;
    opacity: .1;
}


.tab-line {                            
    display: none !important;
}

/*
.tabbrowser-tab:hover,
.tabbrowser-tab .tab-text.tab-label:hover {
    cursor: pointer !important; 
}
*/

.tabbrowser-tab {
	padding-left: 2px !important;
	padding-right: 2px !important;
}
/*
.tabbrowser-tab {
	margin-left: -2px !important;
}
*/
[tabsintitlebar]:root:not([extradragspace]) .tabbrowser-tab::after,
.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforehovered]::after {
    border: none !important;              
}


#pageActionSeparator, #pocket-button {
    display: none !important;
}


/* Center text on the URL bar */
#urlbar {
	text-align: center;
}

/* restyle popup items */
#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
  -moz-box-orient: vertical !important;
  text-align: center !important;
  padding: 4px 0px !important;
  border-radius: 0.5em !important;
}

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .search-one-offs,
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-type-icon,
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-site-icon,
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-tags:not([empty]),
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-separator:not([type=keyword]),
#PopupAutoCompleteRichResult > richlistbox > richlistitem[selected] > .ac-url[actiontype=remotetab],
#PopupAutoCompleteRichResult > richlistbox > richlistitem:hover > .ac-url[actiontype=remotetab]
{
  display: none !important;
}

.autocomplete-richlistbox {
	background: #181a21 !important;
	color: #ffffff !important;
}


.ac-text-overflow-container > .ac-action-text:not([selected]) {
	color: #6992c5 !important;
	font-style: bold !important;
	display: -moz-box !important;
	visibility: visible !important;
	font-weight: 500 !important;
}

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-action[actiontype=searchengine]:not([selected]) {
  display: block !important;
}

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
  border-inline-end: 0px solid transparent !important;
}

#PopupAutoCompleteRichResult {
	/*margin-left: 10% !important;
	margin-right: 10% !important;*/
	border-radius: 0.6em !important;
	border-left: 2px #334455 solid !important;
	border-right: 2px #334455 solid !important;
	border-bottom: 2px #334455 solid !important;
}

.autocomplete-richlistitem {
	max-width: 90% !important;
}


.tabbrowser-tab:before,
.tabbrowser-tab:after {
  border-radius: 10px;
  background: #BE3569;
  z-index: 2;
}

/*Prevents White pre-load flash*/ 
.tabbrowser-tabbox {
	background-color:  #181a21 !important;
}

@-moz-document url(about:blank) {
	* { background: #181a21 !important; }
}

@-moz-document url(chrome://browser/content/browser.xul){
	browser, browser.display.background_color, tabbrowser tabpanels { background: #181a21 !important
}  

@-moz-document url(chrome://browser/content/browser.xul)
{
   #main-window,
   browser[type="content-primary"],
   browser[type="content"],
   tabbrowser#content,
   #content,
   browser[type="content"] > html
   {
      background: #181a21 !important;
   }
}