:root {
--bgdark: #f7f9ff;
--bglight: #eef0f5;
--bglighter: #e1e4ea;

--fgdark: #909cad;
--fglight: #43566f;

--accent: #cd5e6f;
--border: #b0b4bb;
--disabled: #595959;
--selected: var(--button);
--button: #43566f1a;
--hover: #ffffff;
}
