:root {
	/*  ----  */
	--bg0: #151517;
	--bg1: #18191c;
	--bg2: #1C1D21;
	--bg3: #1F2126;
	--bg4: #262930;
	--button: #daddee1a;
	/*  ----  */
	--fg2: #a6a9b7;
	--fg1: #daddee;
	--disabled: #696969;
	/*  ----  */
	--accent: #7baae8;
	--false: #c488ec;
	--hover: #ffffff;
	--red: #e56f92;
	/*  ----  */
}

* {
	font-family: "Fira Mono";
	font-weight: bold;
	font-size: 10px;
}

/*body, html {
	background-color: var(--bg1);
}*/

html {
	background: var(--bg1);
}

html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

main {
	width: 290px;
	margin-top: auto;
	display: flex;
	overflow-y: auto;
	flex-flow: row wrap;
	position: relative;
	top: -10px;
	padding: 20px;
}

#clock {
	position: relative;
	top: -30px;
	display: flex;
	text-align: center;
}

#time, #date {
	color: var(--fg1);
	display: inline-block;
	margin: 0 5px;
	flex-grow: 1;
	width: 0;
}

#time {
	text-align: left;
}

#date {
	text-align: right;
}

.links {
	padding: 4px 15px;
	width: auto;
	display: block;
	text-align: center;
}

a:visited, a {
	color: var(--fg2);
	text-decoration: none;
	outline: none;
}

a:hover {	color: var(--fg1); }

.slash {
	color: var(--fg2);
}

main section {
	flex: 1 1 25%;
	box-sizing: border-box;
}

.title {
	display: none;
}

body {
	position:absolute;
	top: calc(50% - 15px);
	left: calc(50% - 8px);
	transform:translate(-50%,-50%);
}

section {
	margin: 15px;
	padding: 18px;
	/*border: 8px solid var(--fg2);*/
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.2);
}
/*
section:hover {
	border: 8px solid var(--fg1);
}*/

section {
	background-color: var(--bg3);
	border-radius: 4px;
	transition: all 150ms ease;
}

/*
section:hover {
	background-color: var(--bg2);
}*/

/*html {
	background-image: url(Coal.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}*/
/*
html {
	background-image: url(Coal.png);
	background-size: 100% calc(100vh + 34.5px);
	background-position: 0% -35.5px;
}

section {
	background: #00000033;
}

a, a:visited {
	color: #fff;
}
