/*
 * CSS rewritten by https://github.com/phisch
 * */


html {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: "Fira Mono", sans-serif;
	font-weight: bold;
	font-size: 10px;
	margin-top: -10px;
}

html, body {
	background: var(--bg1);
}

body {
	width: 270px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
}

a, a:visited {
	text-decoration: none;
	outline: none;
	color: var(--fg2);
	padding: 15px 0;
	border-radius: 4px;
	text-align: center;
	transition: background-color 200ms ease-in-out;
}

a:hover {
	color: var(--fg1);
	background: var(--bg3);
}
