*:not(.path-bar-button):not(.rubberband):not(separator) {
	border: none;
}

.thunar * statusbar {
	margin-bottom: -16px
}

.thunar #location-toolbar {
	margin-right: -50px;
}
.thunar #location-toolbar * widget box entry {
	margin-left: 30px;
	margin-right: 55px;
}

.thunar #location-toolbar {
	margin-left: -200px;
}

/*
 * .thunar > grid {
	margin-top: -40px;
}

.thunar * statusbar {
	margin-bottom: -16px
}
*/

/*
.thunar {
    background: url("Blur.png");
    background-size: 100% 100%;
}


.thunar toolbar,
.thunar .view,
.thunar widget:not(:selected),
.thunar .sidebar,
.thunar .standard-view {
    background-color: transparent;
}

.thunar image,
.thunar widget,
.thunar label {
    color: #fff;
}

.thunar * .path-bar-button:checked {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #fff 100%, transparent 0%) 0 0 2/0 0 2px;
}
*/


/*
.thunar #location-toolbar {
	margin-top: -40px;
}

.thunar .sidebar .view {
	background-color: transparent;
}

.thunar > grid paned {
    margin-left: -36px;
}

.thunar > grid paned grid {
    margin-left: 4px;
}
*/

* {
    font-weight: Bold;
}

.thunar .standard-view,
.thunar .sidebar {
	padding: 15px;
}

/*.thunar paned separator {
	border-left: 2px solid #79aaeb;
	margin-top: 40px;
	margin-bottom: 40px;
}*/

.thunar separator {
	background: transparent;
}


.thunar .view:not(:selected) {
	background: transparent;
	color: #fff;
}

.thunar {
	background-image: url("/home/gauge/etc/gtk-3.0/Coal.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

.thunar treeview,
.thunar .sidebar {
	background-color: rgba(0, 0, 0, 0.2);
}
