@import url("menus.css");

*:not(.path-bar-button):not(.rubberband):not(separator) {
	border: none;
}


/*.thunar #location-toolbar {
	margin-right: -50px;
}
.thunar #location-toolbar * widget box entry {
	margin-left: 30px;
	margin-right: 55px;
}

.thunar #location-toolbar {
	margin-left: -200px;
}
*/
.thunar .standard-view,
.thunar .sidebar {
	padding: 15px;
}

.thunar separator {
	background: transparent;
}

.thunar .sidebar treeview {
	padding-bottom: 1px;
	padding-top: 1px;
}

* {
	font-weight: bold;
}
@import 'colors.css';