#TabsToolbar .tabbrowser-tab *
{
	transition: all 350ms var(--animation-easing-function) !important;
}

#navigator-toolbox #TabsToolbar #tabbrowser-tabs {
	transition: none !important;
}

.titlebar-buttonbox-container {
	width: 172px;
}

/* Move Tab-bar beside Nav-bar */
#TabsToolbar {      
	margin-bottom: 0px !important;                /* not needed anymore? */
	margin-top: 0px !important;                   /*  */
	margin-left: 35vw !important;
	/*margin-right: -34px !important; */
	max-height: 32px !important;
}

#navigator-toolbox {
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.tabbrowser-tab[last-visible-tab] {
	border-inline-end: none !important;
}


#navigator-toolbox #nav-bar {      
	margin-bottom: -1px !important;               /* remove navbar bottom 1px border */
	margin-top: -32px !important;
	margin-right: 65vw !important; 
	border-top: none !important;
	z-index: 1000 !important;
	box-shadow: none !important;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
	margin-left: 0 !important;
}   

#navigator-toolbox #nav-bar:hover {
	margin-right: 25vw !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.1s !important;
	margin-left: 0;
}

:root:not([customizing]) #navigator-toolbox #nav-bar:focus-within {
	margin-right: 25vw !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.1s !important;
	margin-left: 0;
}

#nav-bar-customization-target {
	/*margin-left: -48px !important;*/
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
}

#urlbar {
	background-color: transparent !important;  /* Transparent URL Bar */
	border-style: none !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	min-height: 32px !important;
	padding-top: 1px !important;
}


#navigator-toolbox #PanelUI-button {
	-moz-box-ordinal-group: 0 !important;
	background: transparent !important;
	margin-right: 2px;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
}

#navigator-toolbox #nav-bar {      
	margin-bottom: -1px !important;               /* remove navbar bottom 1px border */
}   

.tabs-newtab-button {
	z-index: 42069 !important;    
	display: -moz-box !important;
}
