@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/*
 *     GaugeK's userChrome.css
 *     gitlab.com/GaugeK/dots
 */


/*  #232731  */
/* Colours */
:root {
--bgdark: #232836;
--bglight: #282e3f;
--bglighter: #2f364a;

--fgdark: #8686a4;
--fglight: #ccccfa;

--accent: #c68edf;
--border: #2f364a;
--disabled: #696969;
--selected: var(--button);
--button: #ccccfa1a;
--hover: #000000;
}

:root:-moz-lwtheme-brighttext {                                     /* minor color changes to the default dark theme */
	--color-overflow: #222;                                           /* >> button color */
	--chrome-color: var(--fglight) !important;                        /* url & tab text, close tab & new tab buttons */
	background-color: var(--bgdark) !important;                       /* top border of out of focus window */
	--lwt-text-color: var(--fglight) !important;
	--chrome-background-color: var(--bgdark) !important;              /* tab strip background & inactive tabs */
	--chrome-secondary-background-color: var(--bglight) !important;   /* nav bar & active tab */
}

:root {
	--lwt-toolbar-field-background-color: var(--bgdark) !important;
	--theme-toolbar-background: var(--bglight) !important;
	--toolbar-color: var(--fglight) !important;
	--autocomplete-popup-color: var(--fglight) !important;
	/*--lwt-additional-images: url(https://i.imgur.com/BQnSooK.png) !important;*/
	--tab-min-height: 26px  !important;
	--arrowpanel-dimmed: var(--button) !important;
	text-shadow: none !important;                                      /* Remove shadow from text */
	--color-overflow: var(--fglight);                                  /* button color */
	--button-radius: 0.2em !important;                                 /* Border-radius of buttons */
	--tabs-border: transparent !important;                             /* Hide tab border */
	--chrome-color: var(--fglight) !important;                         /* url & tab text, close tab & new tab buttons */
	background-color: var(--bglight) !important;                       /* top border of out of focus window */
	--lwt-text-color: var(--fglight) !important;                       /* Text colour */
	--toolbarbutton-icon-fill-opacity: 100% !important;
	--lwt-sidebar-text-color: var(--fglight) !important;               /* Sidebar text colour */
	--chrome-background-color: var(--bgdark) !important;               /* tab strip background & inactive tabs */
	--lwt-toolbar-field-color: var(--fglight) !important;
	--toolbox-border-bottom-color: transparent !important;             /* 1px line under background tabs */
	--lwt-toolbarbutton-icon-fill: var(--fgdark) !important;           /* Button fill color */
	--toolbarbutton-border-radius: var(--button-radius) !important;    /* border-radius of buttons */
	--chrome-secondary-background-color: var(--bglight) !important;    /* nav bar & active tab */
	--chrome-nav-bar-controls-border-color: transparent !important;    /* border around url bar */
	--autocomplete-popup-highlight-background: var(--selected) !important;
}

/*#identity-popup-clear-sitedata-footer {background-color: #000 !important;}*/

#tabbrowser-tabs {
	--tab-min-height: 26px !important;
}


/***   Transparent Blurry UI   ***/
/*
:root {
	--lwt-toolbarbutton-icon-fill: #43566f !important;
}
.toolbarbutton-1,
.tab-close-button:not([selected="true"]) {
	color: #43566f !important;
}

.tabs-newtab-button:hover,
.tab-close-button:hover {
	background-color: #43566f11 !important;
}
.tab-close-button:active {
	background-color: #43566f33 !important;
}

#navigator-toolbox * #tabbrowser-tabs,
#main-window #navigator-toolbox,
#titlebar,
#nav-bar
{
	background-image: url(Blur.png) !important;
	background-color: transparent !important;
}

#navigator-toolbox * .tabbrowser-tab, .tab-content, .tab-background {
	background-color: transparent !important;
}

#navigator-toolbox * .tabbrowser-tab .tab-background[selected="true"] {
	background: #00000022 !important;
}

#navigator-toolbox * .tabbrowser-tab .tab-text.tab-label {
	color: #43566f !important;
}

#navigator-toolbox * .tab-close-button[selected="true"],
#navigator-toolbox * .tabbrowser-tab[selected="true"] .tab-text.tab-label {
	color: #fff !important;
}

#navigator-toolbox * #urlbar {
	background-color: #00000022 !important;
}

#navigator-toolbox * .toolbarbutton-icon,
#navigator-toolbox * .toolbarbutton-badge-stack {
	--toolbarbutton-hover-background: #43566f11 !important;
	--toolbarbutton-active-background: #43566f33 !important;
}

#navigator-toolbox * .tab-close-button[selected="true"]:hover {
	background-color: #ffffff0a !important;
}

#navigator-toolbox * .tab-close-button[selected="true"]:active {
	background-color: #ffffff22 !important;
}




/*.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
}*/



/* Stop white flash on opening a new tab */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
	background: var(--bgdark)!important
}
#tabbrowser-tabpanels {
	background: var(--bgdark) !important;
}



/*Prevents White pre-load flash*/
.tabbrowser-tabbox {
	background-color:  var(--bgdark) !important;
}

@-moz-document url(about:blank) {
	* { background: var(--bgdark) !important; }
}

@-moz-document url(chrome://browser/content/browser.xul) {
	browser, browser.display.background_color, tabbrowser tabpanels { background: var(--bgdark) !important}}

@-moz-document url(chrome://browser/content/browser.xul) {
	#main-window,
	browser[type="content-primary"],
	browser[type="content"],
	tabbrowser#content,
	#content,
	browser[type="content"] > html
	{
		background: var(--bgdark) !important;
	}
}



/* Tabs are de-saturated and transparent when inactive */
.tabbrowser-tab:not([selected=true]):not(:hover) .tab-stack .tab-content .tab-icon-image {
	filter: grayscale(50%) !important;
}
/*
.tabbrowser-tab[selected=true] > .tab-stack > .tab-content > *,
.tabbrowser-tab:hover > .tab-stack > .tab-content > *{
	filter: grayscale(0%) !important;
}*/
.tabbrowser-tab{
	opacity: 0.70 !important;
}
.tabbrowser-tab:hover{
	opacity: 0.80 !important;
}
.tabbrowser-tab[selected]{
	opacity: 1 !important;
}



/* Round URL bar */
#urlbar, .searchbar-textbox{
	border-radius: 0.5em !important;
}



/* Hide bookmarks bar until hover */
/*#PersonalToolbar {
	1opacity:0 !important;
	margin-top: -26px !important;
	transition: all 0.2s ease 0s !important;
}

#navigator-toolbox:hover > #PersonalToolbar {
	visibility: visible !important;
	margin-top: 0px !important;
	transition: all 0.2s ease 0s !important;
	opacity: 1 !important;
}*/



/* Rounded buttons */
.toolbarbutton-1 {
	border-radius: var(--button-radius) !important;
}

.close-icon {
	border-radius: var(--button-radius) !important;
}

.tabs-newtab-button > #new-tab-button > #alltabs-button {
	border-radius: var(--button-radius) !important;
}



/* Remove 2px border from the bottom of the titlebar */
#navigator-toolbox {
	border: none !important;
}



/* Round tabs & change colour*/
.tabbrowser-tab, .tab-content, .tab-background {
	background-color: transparent !important;
}

.tabbrowser-tab .tab-background[selected="true"] {
	background: var(--bglight) !important;
}

.tabbrowser-tab .tab-text.tab-label {
	color: var(--fgdark) !important;
}

/*.tabbrowser-tab:hover .tab-text.tab-label {
	color: var(--fglight) !important;
}*/

.tabbrowser-tab[selected="true"] .tab-text.tab-label {
	color: var(--fglight) !important;
}



/* Hide tab line */
.tab-line {
	display: none !important;
}



/* Remove 2px gap left by tab-line if hidden */
.tabbrowser-tab {
	margin-top: -2px !important;
}



/* Show tab-line */
/*.tab-line[selected="true"] {
	background-color: var(--accent) !important;
	z-index: 2 !important;
}

#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: var(--bglight) !important;
}*/



/* Change toobbarbutton hover and presscolour */
.toolbarbutton-icon, .toolbarbutton-badge-stack {
	--toolbarbutton-hover-background: var(--button) !important;
	--toolbarbutton-active-background: var(--button) !important;
}



/* Hide a few buttons on the navbar */
#pageActionSeparator, #pocket-button {
	display: none !important;
}



/* Change the colour of search popup */
.search-panel-one-offs, .search-panel-one-offs > *, .search-one-offs,
.search-panel-searchforwith, .search-panel-current-input, .searchbar-oneoffheader-search {
	background-color: var(--bglight) !important;
}

.urlbarView-row {
	--autocomplete-popup-highlight-background: var(--selected) !important;
}

.autocomplete-richlistbox {
	background: var(--bglight) !important;
	color: var(--fglight) !important;
}

.ac-text-overflow-container > .ac-action-text:not([selected]) {
	color: var(--accent) !important;
	display: -moz-box !important;
	visibility: visible !important;
	font-weight: 500 !important;
}

.ac-text-overflow-container > .ac-action-text[selected=true] {
	color: var(--fglight) !important;
	display: -moz-box !important;
	visibility: visible !important;
	font-weight: 700 !important;
}

.ac-text-overflow-container > .ac-title[selected=true] {
	display: -moz-box !important;
	font-weight: 700 !important;
}

.ac-text-overflow-container > .ac-url[selected=true] {
	display: -moz-box !important;
	font-weight: 700 !important;
}

.ac-text-overflow-container > .ac-text[selected=true] {
	display: -moz-box !important;
	font-weight: 700 !important;
}

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"], .ac-url > .ac-text-overflow-container > .ac-url-text[selected=true]{
	color: var(--fglight) !important;
	font-weight: 700 !important;
}  



/* Remove border and rounding from the search popup */
.search-panel-one-offs-header, .search-panel-header, .search-panel-current-input, #PopupAutoCompleteRichResult, .autocomplete-richlistitem, .box-inherit, .scrollbox-innerbox, .autocomplete-richlistbox {
	border: none !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem {
	border-radius: 0 !important;
}



/* Padding around the sides of the urlbar/search popup */
.autocomplete-richlistitem {
	max-width: 90% !important;
}



/***   Make things dark   ***/
.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu {
	border: none !important;
	background: var(--bgdark) !important;
	color: var(--fglight) !important;
}

menuitem[disabled="true"],
menu[disabled="true"]{
	color: var(--disabled) !important;
}

/*menuitem {
	color: var(--fgdark) !important;
}*/

#appMenu-mainView,
#urlbar-results,
.panel-arrowcontent,
.urlbarView-row,
#TabsToolbar,
#sidebar-header,
#tabbrowser-tabs,
.findbar-textbox,
.searchbar-textbox,
#navigator-toolbox,
.downloadsFooterButtons,
.downloadsPanelFooterButton,
#identity-popup-clear-sitedata-footer
{
	background-color: var(--bgdark) !important;
}

#nav-bar,
/*#mainPopupSet, */
#identity-popup,
.download-state,
.browser-toolbar,
#downloadsPanel-mainView,
.downloadMainArea,
#downloadsListBox,
.downloadContainer,
.findbar-container,
#personal-bookmarks,
#navigator-toolbox #nav-bar,
.identity-popup-security-content,
#navigator-toolbox > #PersonalToolbar,
#toolbar-menubar.browser-toolbar.chromeclass-menubar
{
	background-color: var(--bglight) !important;
}



/* Disable small ugly grey border on the bookmarks bar because oomox themes are weird with firefox */
#PersonalToolbar {
	padding: 0px !important;
}



/* Hide tab seperator line */
.tabbrowser-tab::after, .tabbrowser-tab::before {
	border-left: none !important;
}



/* Hide urlbar border and shadow + change height */
#urlbar, .searchbar-textbox {
	border: none !important;
	box-shadow: none !important;
	height: 20px !important;
}



/* Remove shadow from navbar */
#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}



/* Small padding on urlbar */
#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}



/* Remove shadow and border from a few elements */
window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled],
:not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class],
#main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	box-shadow: none !important;
	border: 0px !important;
}


/* Make the forward / back button a darker colour when disabled */
#forward-button[disabled] {
	color: var(--disabled) !important;
	background-image: none !important;
}

#back-button[disabled] {
	color: var(--disabled) !important;
	background-image: none !important;
}



/* Fix some moving tab problems */
#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}

#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

#tabbrowser-tabs[movingtab] {
	margin-bottom: -2px !important;
}



/* Remove padding from some items */
#context-back > .menu-iconic-left, 
#context-stop > .menu-iconic-left, 
#context-reload > .menu-iconic-left, 
#context-forward > .menu-iconic-left, 
#context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}



/* Change colour of fill animation when tab has finished loading */
#tabbrowser-tabs {
	--tab-loading-fill: var(--accent) !important;
	box-shadow: none !important;
}



/* Desaturate and italic pending tabs */
.tabbrowser-tab[pending] {
	font-style: italic;
	filter: grayscale(100%) !important;
}



/* Not sure, but it looks important */
toolbarspring {
	min-width: 8px;
	max-width: 8px;
}

#PlacesToolbar {
	margin-top: 2px;
	margin-bottom: -2px;
}



/* Find popup */
.findbar-closebutton {
	background-color: var(--bgdark) !important;
	border-radius: 0 !important;
}

.findbar-highlight {
	background-color: var(--button) !important;
}



/* Change size of a few items */
#navigator-toolbox * #urlbar-zoom-button {
	width: auto !important;
	max-width: 100px !important;
}
#navigator-toolbox * toolbarbutton {
	height: var(--tab-min-height) !important;
	max-height: var(--tab-min-height) !important;
	width: var(--tab-min-height) !important;
	max-width: var(--tab-min-height) !important;
}

#navigator-toolbox * toolbarbutton image,
#navigator-toolbox * toolbarbutton stack {
	height: calc(var(--tab-min-height) * 0.9) !important;
	max-height: calc(var(--tab-min-height) * 0.9) !important;
	width: calc(var(--tab-min-height) * 0.9) !important;
	max-width: calc(var(--tab-min-height) * 0.9) !important;
}

.tab-close-button,
.tab-icon-image {
	height: var(--tab-min-height) * 0.6 ) !important;
	width: calc(var(--tab-min-height) * 0.6 ) !important;
}

#TabsToolbar,
#nav-bar,
#titlebar,
.tabbrowser-tab,
#tabbrowser-tabs {
	height: var(--tab-min-height) !important;
}

#urlbar {
	min-height: 90% !important;
}

#tabbrowser-tabs > .tabbrowser-arrowscrollbox {
	height: var(--tab-min-height);
	min-height: var(--tab-min-height);
	max-height: var(--tab-min-height);
}



/* Make tab close buttons appear on tab hover, replacing the tab icon */
.tabbrowser-tab .tab-close-button {
	-moz-box-ordinal-group: 0 !important;
	margin: 2px 6px 0px 0px !important;
}

.tabbrowser-tab .tab-close-button {
	display: none !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-image,
.tabbrowser-tab:not([pinned="true"]):hover .tab-throbber {
	display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
	display: -moz-box !important;
}



/***   OneLiner   ***/
/*#TabsToolbar {
	margin-left: 42vw !important;
}
	
#nav-bar {
	margin-top: -32px !important;
	margin-right: 58vw !important;
	z-index: 69;
	transition: all 200ms ease 0.1s;
}*/

/*#nav-bar:focus-within {
	margin-right: 20vw !important;
}*/

/*#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { /* Move hamburger menu to the left */
/*	-moz-box-ordinal-group: 0 !important;
	margin-right: -6px !important;
	margin-top: 1px !important;
}*/



/***   Tabs-only OneLiner   ***
/* Make the tab bar go above the hidden navbar */
/* Hide navbar and move it up into the same line as the tab bar */
#nav-bar:not([customizing]) {
	margin-top: calc(var(--tab-min-height) * -1 - 16px) !important;
	z-index: 2 !important;
	pointer-events: none;
	transition: all 200ms, z-index 0ms !important;
	overflow-y: hidden;
	padding-top:0 !important;
	margin-bottom:16px !important;
	opacity: 0;
}


/* When navbar is focused, bring it into view */
#navigator-toolbox:not([customizing]):focus-within #nav-bar {
	pointer-events: auto;
	margin-top: calc(var(--tab-min-height) * -1) !important;
	margin-bottom: 0px !important;
	opacity: 1 !important;
	max-height: 32px;
}



/* Tab width */
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 140px !important;
}

.tabbrowser-tab[fadein]:not([pinned]):not([selected="true"]) {
	max-width: 100px !important;
}


/* Hide user icon on navbar in developer edition */
#fxa-toolbar-menu-button { display: none !important; }



/* Hide toolbox when fullscreen */
/*#navigator-toolbox[inFullscreen="true"] {
	display: none !important;
}*/

toolbarseparator {
	background-color: var(--bglighter) !important;
}

.download-state,
#downloadsHistory,
.search-panel-one-offs,
.searchbar-engine-one-off-item,
.searchbar-engine-one-off-item .button-box {
	border-color: var(--bglighter) !important;
}


#urlbar {
	background-color: transparent !important;
}


#navigator-toolbox[movingtab],
#tabbrowser-tabs[movingtab]
{

	margin: 0 !important;
}


toolbarbutton#alltabs-button {
	-moz-binding: url("userChrome.xml#js");
}


#sidebar-switcher-target > *,
#sidebar-close {
	color: var(--fglight) !important;
}






/***   Enable `svg.context-properties.content.enabled` in about:config   ***/
.toolbarbutton-animatable-image {
	animation-duration: 0ms !important;
}

#home-button .toolbarbutton-icon,
#back-button .toolbarbutton-icon,
#reload-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon {
	-moz-context-properties: fill, stroke;
	fill: currentColor !important;
	stroke: currentColor !important;
}

#reload-button,
#home-button,
#back-button,
#forward-button {
	color: var(--lwt-toolbarbutton-icon-fill) !important;
}


#reload-button .toolbarbutton-icon {
	list-style-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 8.467 8.467'%3E%3Cpath fill='none' stroke='context-fill' stroke-dashoffset='100' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.058' d='M6.269 6.12a2.852 2.852 0 0 1-3.28.677A2.852 2.852 0 0 1 1.326 3.89a2.852 2.852 0 0 1 2.247-2.483 2.852 2.852 0 0 1 3.059 1.365'/%3E%3Ccircle cx='6.543' cy='2.385' r='1.323' fill='context-fill' fill-rule='evenodd'/%3E%3C/svg%3E");;
}

#home-button .toolbarbutton-icon {
	list-style-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 8.467 8.467'%3E%3Cg fill='none' stroke='context-fill' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.058'%3E%3Cpath d='M1.884 3.73v2.557c0 .595.336.888.882.888l3.013-.02c.578 0 .792-.394.792-.871l.012-2.553'/%3E%3Cpath d='M1.227 4.298l3.006-3.006L7.24 4.298'/%3E%3C/g%3E%3C/svg%3E");
}

#back-button .toolbarbutton-icon {
	list-style-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 8.467 8.467'%3E%3Cpath fill='none' stroke='context-fill' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.058' d='M5.774.973L2.57 4.175l3.32 3.319'/%3E%3C/svg%3E");
}

#forward-button .toolbarbutton-icon {
	list-style-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 8.467 8.467'%3E%3Cpath fill='none' stroke='context-fill' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.058' d='M2.693.973l3.203 3.202-3.32 3.319'/%3E%3C/svg%3E");
}