.sidebar-2K8pFh {
	width: 180px !important;
}

[class*="username-"]:not([style]) {
	opacity: 0.8;
}

/* blocked messages */
[class="groupStart-23k01U"] > div,
[class="groupStart-23k01U"] {
	margin: 0 !important;
	margin-left: -5.5rem !important;
	padding: 0;
	max-height: 0 !important;
	max-width: 250px;
	top: -9px;
	opacity: 0;
	z-index: 0 !important;
}

[class="groupStart-23k01U"] [class*="blockedSystemMessage"] { padding: 0 !important; }
[class*="blockedAction"] {
	cursor: n-resize !important;
	min-width: 999px;
}

[class*="timestampVisibleOnHover"] { opacity: 1; }

/* role backgrounds instead of outlines */
[class*="role-"] {
	border: none !important;
	overflow: hidden;
	z-index: 0 !important;
}

[class*="role-"] > [class*="roleCircle-"]::after {
	background-color: inherit;
	content: '';
	display: block;
	position: relative !important;
	min-width: 230px;
	height: 69px;
	opacity: 0.2;
	right: -100px;
	z-index: -1;
	pointer-events: none;
}

[class*="roleRemoveIcon-"] { position: absolute; }

/* display info about code blocks */
code.hljs:not(.inline)::before {
	content: attr(class) !important;
	float: right;
	display: block;
	width: auto;
	max-width:  6.6em !important;
	min-width:  auto;
	margin-top: -8.6em !important;
	line-height: 1.6em !important;
	overflow-x: hidden;
	scrollbar-width: none;
	text-align: right;
	font-size: 1em;
	opacity: 0.6;
}
/* subtle code block styling */
code.hljs:not(.inline) {
	max-width: 560px;
	padding: 12px;
	border: none;
}

/* remove the ugly syntax highlighting */
pre > code .hljs-comment {
	color: var(--text-muted) !important;
}

pre > code,
pre > code * {
	color: var(--header-secondary) !important;
	font-weight: normal !important;
	font-size: 0.77rem !important;
}

/* change width of messages area */
[class*="jumpToPresentBar-"],
[class*="typing-"],
[class*="channelTextArea"],
[class^="messagesWrapper-"] > * > [class*="scroller"],
[class*="autocomplete-"] {
	max-width: 1000px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
