/* blocked messages */
[class="groupStart-23k01U"] {
	margin: 0 !important;
	display: none !important;
}

/* role backgrounds instead of outlines */
[class*="role-"] {
	border: none !important;
	overflow: hidden;
}

[class*="roleRemoveIcon-"] {
	z-index: 999;
	position: absolute;
}

[class*="role-"] > [class*="roleCircle-"]::after {
	background-color: inherit;
	content: '';
	display: block;
	position: relative;
	min-width: 230px;
	height: 69px;
	opacity: 0.2;
	right: -100px;
	z-index: 0;
	pointer-events: none;
}

/* display info about code blocks */
code.hljs:not(.inline) { max-width: 560px; padding: 12px; }
code.hljs:not(.inline)::before {
	content: attr(class) !important;
	font-size: var(--font);
	font-weight: var(--font-weight);
	float: right;
	display: block;
	width: auto;
	max-width:  6rem;
	text-align: right;
	min-width:  auto;
	margin-top: -8.5rem;
	line-height: 1.6rem;
	overflow-x: hidden;
	scrollbar-width: none;
	color: var(--fg2);
	opacity: 0.6;
}
