.theme-light {
	--text-normal: #4a4a4a !important;
	--text-normal: #d74be1 !important;
	--interactive-normal: magenta;
	--interactive-hover: magenta;
	--interactive-active: magenta;
	--interactive-muted: #ffcbff;
	--channels-default: #ae77aecf;
	--red: #f04141;
	--yellow: #b29d21;
	--green: #30ba39;
	--cyan: #42b4b4;
	--blue: #4665ff;
	--pink: #ff31cb;
	--accent: var(--blue);
	--channeltextarea-background: transparent !important;
}

@keyframes rainbow {
	0%{
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}
.searchBar-3dMhjb,
#app-mount [id*="chat"] a {
	background: linear-gradient(
		to right,
		var(--red),
		var(--yellow),
		var(--green),
		var(--cyan),
		var(--blue),
		var(--pink),
	    var(--red),
		var(--yellow),
		var(--green),
		var(--cyan)
	);
	color: white;
	background-size: 300% 100%;
}

/*[class*="textArea"] [data-slate-string="true"],*/
[class*="typing-"],
[class*="embed-"] [class*="embedTitle"],
[class*="title-"],
.messageContent-2qWWxC,
blockquote {
	background: linear-gradient(
		to right,
		var(--red),
		var(--yellow),
		var(--green),
		var(--cyan),
		var(--blue),
		var(--pink),
	    var(--red),
		var(--yellow),
		var(--green),
		var(--cyan)
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-size: 300% 100%;
}

.searchBar-3dMhjb:not(:-moz-window-inactive),
#app-mount [id*="chat"] a:not(:-moz-window-inactive),
[class*="typing-"]:not(:-moz-window-inactive),
[class*="embed-"] [class*="embedTitle"]:not(:-moz-window-inactive),
[class*="title-"]:not(:-moz-window-inactive),
.messageContent-2qWWxC:not(:-moz-window-inactive),
blockquote:not(:-moz-window-inactive) {
	animation: rainbow 3s linear infinite;
}
code.hljs, code, .hljs * {
	color: var(--text-normal) !important;
}

[class*="roleColor-rz2vM0"]:not([style]),
[class*="username"]:not([style]) {
	color: magenta;
}
[class*="icon-"],
.membersGroup-v9BXpm,
[class*="title-"] [class*="icon-"] {
	color: magenta !important;
}

.searchBar-3dMhjb * [data-block="true"],
.searchBar-3dMhjb {
	color: white !important;
}
