@-moz-document regexp("https://discord.com/(?!developers).*") {
/** foot punch, yeah! **/
#user-context-kick > div::before {
	content: 'Footpunch';
	background-color: inherit;
	z-index: 555;
	position: absolute;
	left: 40px;
}
#user-context-kick > div {
	max-width: min-content !important;
	white-space: nowrap;
	overflow: hidden;
	text-indent: -31px;
	margin-left: 72px;
}

.theme-light {
	--text-normal: #444 !important
}


/** change message replies **/
[class*="repliedMessage-"]::before { --spine-width: 0; }
[class*="repliedMessage-"] {
	left: -25px !important;
	--background-tertiary: transparent !important;
}
[class*="replyBadge-"] > [class*="replyIcon-"] {
	transform: scaleX(-1);
	opacity: 0.6;
	margin-left: -14px;
}

[class*="repliedMessage-"] > [class*="repliedTextPreview-"] {
	opacity: 0.9;
}



/** hide 'blocked messages' notice **/
/* using the . selector will match items which have additional classes
 *  this only applies if it's the only class an element has */
[class="groupStart-23k01U"] > div,
[class="groupStart-23k01U"] {
	/* display: none; makes it jumpy when the blocked person makes
	 *  the top unread and you open the channel */
	margin:     0 !important;
	max-height: 0 !important;
	opacity:    0;
}


/** remove junk buttons **/
[class*="unreadMentionsBar-"], /* no bloody idea */
.content-3YMskv > .wrapper-2jXpOf, /* "Active Threads" mod button */
#channels .content-3YMskv > div[style*="height:"]:nth-of-type(2), /* "Active Threads" mod button */
.channelTextArea-rNsIhG > .container-JHR0NT,        /* annoying sticker popup */
.selected-3LIHYU:not(:hover) .children-3rEycc,      /* cog on focused channel */
.containerDefault-3tr_sE:not(:hover) .children-L002ao > button[aria-label="Create Channel"],
.toolbar-1t6TWx > div[aria-label^="Mute channel"],  /* mute channel button */
.toolbar-1t6TWx > a[href*="support.discord.com"],   /* help button */
.buttons-3JBrkn > *:not(:nth-child(4))              /* nitro gift, gifs, stickers */
{
	display: none !important;
}
[aria-label="Servers sidebar"] .none-2Eo-qx > .listItem-GuPuDH:nth-of-type(6), /* "download apps" button */
[aria-label="Servers sidebar"] .none-2Eo-qx > .listItem-GuPuDH:nth-of-type(7) /* "download apps" button */
{
	display: none !important;
}
/* attach file button */ 
[class*="attachWrapper-"] * {
	max-width: 0 !important;
}
[class*="attachWrapper-"] {
	width: 9px !important;
	position: absolute;
	margin-left: -17px;
}

/** move search to the right **/
.search-36MZv- { order: 2 !important; }


/** hide ping indicator in bottom server **/
/*.wrapper-3Njo_c:last-of-type .lowerBadge-29hYVK {
	display: none !important;
}
.wrapper-3Njo_c:last-of-type svg > foreignObject[mask] {
	border-radius: 16px;
	mask:          none !important;
}
/*mask: url(#e39d00ea-e646-4d47-a368-2bca44fd2d03) !important;*/


/** move reaction popup out of the way & make it bigger **/
[id*="popout_"] [class*="emojiPicker-"]     { height: 600px !important; }
[class*="layerContainer-"] > [id*="popout"] { top: 110px    !important; }


/** role backgrounds instead of outlines **/
/* implimented by default on 2021-08-04/05 */
[class*="roleRemoveIcon-"] { position: absolute; }
[class*="role-"] {
	border:   none;
	overflow: hidden;
	z-index:  0;
	background-color: transparent !important;
}
[class*="role-"] > [class*="roleCircle-"]::after {
	background-color: inherit;
	pointer-events: none;
	display:   block;
	content:   '';
	opacity:   0.2;
	z-index:   -1;
	right:     -100px;
	min-width: 230px;
	height:    69px;
	position:  relative;
}


/** code block stuff **/
/* display language in top-right of code blocks */
code.hljs:not(.inline)::before {
	content:     attr(class);
	float:       right;
	max-width:   5.3rem;
	margin-top:  -8.6rem;
	line-height: 1.6rem;
	text-align:  right;
	font-size:   0.8rem;
	opacity:     0.6;
}
/* slightly cleaner */
code.hljs:not(.inline) {
	max-width: 560px;
	padding:   12px;
	border:    none;
}
/* remove ugly syntax highlighting */
pre > code,
pre > code * {
	color:       var(--header-secondary) !important;
	font-weight: normal !important;
	font-size:   0.77rem !important;
}
/* only highlight comments */
pre > code .hljs-comment {
	color: var(--text-muted) !important;
}


/** more compact **/
/* limit width of messages area to 1000px */
[class*="standardSidebarView"],
[class*="jumpToPresentBar-"],
[class*="typing-"],
[class*="channelTextArea"],
[class^="messagesWrapper-"] > * > [class*="scroller"],
[class*="autocomplete-"] {
	width:        100%;
	max-width:    1000px;
	margin-left:  auto;
	margin-right: auto;
}
/* smaller sidebar */
.sidebar-2K8pFh { width: 180px !important; }


/** less contrast **/
/* default usernames & text colour */
.theme-light [class*="chatContent-"] [class*="username-"]:not([style]),
.theme-light {
	/*color:         #222 !important;*/
	/*--text-normal: #4a4a4a !important;*/
	/* make shadow on the top bar less harsh */
	--elevation-low:
		0 0px 0 rgba(6,6,7,0.1),
		0 1.5px 0 rgba(6,6,7,0.025),
		0 2px 0 rgba(6,6,7,0.025);
}


/** fix copypasting on firefox **/
[class*="systemMessage"] span /* parent element of time          */,
[class*="systemMessage"] i    /* invisible separator around time */,
[id*="chat-messages-"] [class*="header-"] i /* [time] / user:    */ {
	font-size: 0;
	position:  inherit;
	display:   inline-block;
}
[class*="systemMessage"] [class*="content-"] /* where the text bit is - next to icon */ {
	position: inherit;
	display:  inline;
}

/** always show time on messages **/
[class*="timestampVisibleOnHover"] { opacity: 1; }



[class*="username-"][style="color: rgb(255, 255, 191);"] {
	color: #ff7270 !important;
}



/** remove a*****s emotes **/
/*img[src*="/dumpy"],
img.emoji[alt*="AMOGUS"],
img.emoji[alt*="Twerk"],
img.emoji[alt*="amongus"],
img.emoji[alt*="amogus"] {
	object-position:  -999in -999in;
	background-size:  100%;
	background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZm9udC13ZWlnaHQ9IjcwMCIgZm9udC1mYW1pbHk9IidDb21pYyBTYW5zIE1TJyIgbGV0dGVyLXNwYWNpbmc9IjAiIHdvcmQtc3BhY2luZz0iMCIgc3Ryb2tlLXdpZHRoPSIwIiBmaWxsPSIjZmYxODE4Ij48dGV4dCB5PSIyLjciIGZvbnQtc2l6ZT0iMy44OSIgdHJhbnNmb3JtPSJtYXRyaXgoMy44NjgzMiAwIDAgMy44NjgzMiAuOTggLS44OSkiPjx0c3BhbiB4PSIwIiB5PSI3LjU5IiBzdHJva2Utd2lkdGg9Ii4wMiI+ZHVtPC90c3Bhbj48L3RleHQ+PHRleHQgeD0iMi4wMiIgeT0iNC4wNiIgZm9udC1zaXplPSI0LjMxIiB0cmFuc2Zvcm09Im1hdHJpeCgzLjg2ODMyIDAgMCAzLjg2ODMyIC45OCAtLjg5KSI+PHRzcGFuIHg9IjIuMDIiIHk9IjQuMDYiIHN0cm9rZS13aWR0aD0iLjAyIj5hbTwvdHNwYW4+PC90ZXh0Pjx0ZXh0IHg9Ii4wNyIgeT0iNC4wNiIgZm9udC1zaXplPSI0LjMxIiB0cmFuc2Zvcm09Im1hdHJpeCgzLjg2ODMyIDAgMCAzLjg2ODMyIC45OCAtLjg5KSI+PHRzcGFuIHg9Ii4wNyIgeT0iNC4wNiIgc3Ryb2tlLXdpZHRoPSIuMDIiPmk8L3RzcGFuPjwvdGV4dD48L2c+PC9zdmc+Cg==');
}*/
}
