/* display info about code blocks */
code.hljs:not(.inline)::before {
	content: attr(class) !important;
	font-size: 10px;
	float: right;
	display: block;
	width: auto;
	max-width:  70px;
	text-align: right;
	min-width:  auto;
	margin-top: -110px;
	line-height: 20px;
	overflow-x: hidden;
	scrollbar-width: none;
	color: var(--black);
}

code::before {
	text-shadow: none;
}

code:not(.inline) [class*="meta"],
code:not(.inline) [class*="comment"] {
	text-shadow: 0px 0px 5px var(--fg2o);
}

code:not(.inline),
code:not(.inline) * {
	text-shadow: 0px 0px 5px var(--fg1o);
}

#app-mount * {
	scrollbar-width: none !important;
}

[class*="unreadMentionsIndicatorBottom"],
[class*="channelTextArea"] * [class*="inner"] > div:not([class*="textArea"]) {
	display: none;
}

form > div > div[class*="channelText"] * [class*="textArea"] {
	margin: 0 40px;
}

code:not(.inline) {
	max-width: 90ch;
	border: 2px solid var(--accent);
	border-radius: 0;
	box-shadow: 
		0 0 4px 2px var(--accento),
		inset 0 0 4px 1px var(--accento);
	margin: 11px 5px 11px 5px !important;
	padding: 12px;
}
#app-mount code.inline {
	text-shadow: 0px 0px 4px var(--fg1o);
	box-shadow: 
		0 0 2px 2px var(--accento),
		inset 0 0 2px 1px var(--accento);
	outline: 1px solid var(--accent);
	border-radius: 0;
	padding: 0px 5px;
	margin: 0;
	font-weight: 500 !important;
/*	box-shadow: 0 0 0 6px var(--button);
	margin: 11px 5px 11px 5px !important;*/
}

[class*="markup"][class*="messageContent"] {
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.mentionsBadge-7f5lud {
	display: block !important;
}

* {
	line-height: 140%;
}


code {
	background-color: var(--bg1) !important;
}

/*
code:not(.inline)::before {
	content: attr(class) "\A" !important;
	font-size: 9px;
	opacity: 0.5;
}*/

/* Remove shadow from search results */
[class*="searchResultMessage-"] {
	box-shadow: none !important;
}

/* Hide ugly gradient on some elements */
[class*="option-"]::after,
[class*="children-"]::after,
[class*="resultsGroup-"]::after,
[class*="searchResult-"]::after,
[class*="searchResult-"]::before {
	color: transparent !important;
	background: none !important;
}


/* fonts */
*:not(code):not([class*="hljs"]):not(.name-3_Dsmg) {
	font-family: "Roboto Condensed" !important;
	font-size: 13px !important;    /* boomer font size */
}

/* channel names */
[class*="name-"] {
	font-size: 14px !important;
}

code,
.inline,
[class^="codeLine-"],
[class*="codeBlockText-"],
[class*="codeBlockText-"] * {
	font-family: Monospace !important;
	font-weight: bold !important;
	font-size: 12px !important;
}

/* hide sidebar image */
#channels > div > div:first-of-type,
[class^="animatedContainer-"] {
	display: none !important;
}

/* fix channels sidebar getting a fucked offset after visiting the nitro tab */
.content-98HsJk {
	position: initial !important;
}


/* use browser scrollbar */
[class^="scrollbar-"] {
	display: none !important;
}

/* @TODO see what this does */
.scroller-2wx7Hm,
.scroller-2FKFPG {
	overflow-y: auto;
}

/* discord icon (top-left) */
svg[class*="homeIcon-"] path {
	color: var(--fg1) !important;
}

/* unread server indicator */
.pill-31IEus .item-2hkk8m {
	background-color: var(--fg1) !important;
}
/* hide unread channel indicator */
.unread-3zKkbm {
	display: none !important;
}

#channels,
[class*="guilds-"] > div {
	overflow-y: auto !important;
}


/*
 * collapsed sidebar
 */

/* servers */
[class*="guilds-"] {
	margin-left: -60px;
	transition: all 0ms;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 102;
	background-color: var(--bg3) !important;
}

/* server ping */
[class*="guilds"]:not(:hover) * [class*="lowerBadge"] > div {
	background-color: var(--red) !important;
	width: 50px;
	margin-right: -4px;
	font-size: 5px !important;
	max-height: 10px !important;
	min-height: 10px !important;
	border-radius: 30px;
	margin-bottom: 19px !important;
}

.scroller-2TZvBN {
	background-color: var(--bg3) !important;
}

/* align unread server indicator */
[class*="guilds-"] * [class*="pill-"] {
	margin-left: 60px;
}

/* re-align messages area */
.base-3dtUhz {
	margin-left: -60px;
	padding-left: 40px;
}

/* expand on hover */
[class*="guilds-"]:hover * [class*="pill-"],
[class*="guilds-"]:hover {
	margin-left: 0px;
}

/* channels sidebar */
[class*="content-"] > [class*="sidebar-"] {
	transition: all 0ms;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -198px;
	z-index: 2;
	background-color: var(--bg2) !important;
}

/* make big */
[class^="sidebar-"]:not(:hover) * .name-3_Dsmg {
	font-size: 16px !important;
	font-family: Monospace !important;
	font-weight: 500 !important;
	margin-left: 3px;
	max-width: 10px !important;
	min-height: 25px !important;
}

[class^="sidebar-"]:not(:hover) * [class*="numberBadge"] {
	background-color: transparent !important;
	color: var(--accent) !important;
	visibility: visible;
	left: -2px !important;
	top: -7px !important;
	font-weight: bold !important;
	font-family: Monospace !important;
}

[class^="sidebar-"]:not(:hover) [id^="channels-"] ~ [class^="children"],
[class^="sidebar-"]:not(:hover) * [class*="content-"]:not([aria-label*="voice channel"])  svg[class^="icon"] {
	visibility: hidden;
	max-width: 0;
	padding: 0;
	margin: 0;
}

/* fix channel icon widths */
[class^="sidebar-"]:not(:hover) * [class^="content-"] {
	width: 35px !important;
}

[class*="sidebar-"]:not(:hover) [id^="private-channels-"] > * {
	margin-left: 189px;
	width: 25px;
	padding-left: 3px;
}

/* expand on hover */
[class*="content-"] > [class*="sidebar-"]:hover {
	left: 0;
}

/* fix alignment of channel icons when collapsed */
.sidebar-2K8pFh:not(:hover) * [class*="containerDefault"]:not([role]) {
	position: relative;
	left: 194px;
}
/* category icons */
[class*="sidebar-"]:not(:hover) * .icon-WnO6o2 {
	position: relative;
	left: -10px;
}

[class*="sidebar-"]:not(:hover) * [class*="voiceUser"] {
	position: relative;
	left: -30px;
}


/* hide text when collapsed */
/*[class^="sidebar-"]:not(:hover) * [class*="children-"],
[class^="sidebar-"]:not(:hover) * [class^="name-"] */
[class^="sidebar-"]:not(:hover) * [class*="container-"] ~ [class*="children-"],
[class^="sidebar-"]:not(:hover) * [class*="container-"][class*="name-"] {
	display: none !important;
}

/* bring sidebar above top bar */
[class^="sidebar-"] {
	z-index: 101 !important;
}
/* ping indicator on channels */
[class^="numberBadge-"] {
	background-color: var(--fg1) !important;
	color: var(--bg1) !important;
	font-size: 10px !important;
	font-family: monospace !important;
	font-weight: 500 !important;
	padding: 0 !important;
}

[class^="sidebar-"]:not(:hover) * [class^="numberBadge-"] {
	position: relative;
	left: -24px;
	top: -3px;
}

/* selected and unread servers */
/*[class*="modeSelected-"] div [class^="icon-"] path,
[class*="modeUnread-"] div [class^="icon-"] path*/
[id^="channels"] * path {
	color: var(--fg1) !important;
}

[class*="iconServer"] path {
    color: var(--red) !important;
    opacity: 1 !important;
}

/* move search to the right */
[class*="toolbar"] > [class*="search"] {
	order: 1;
}

[class*="toolbar"] > a:last-of-type, /* help icon */
/* channel # and mute channel icon */
[class*="title-"] > * > [class^="icon"]:first-of-type {
	visibility: hidden;
	width: 0;
}

[class*="containerDefault"] > div:not([class*="modeSelected-"]):not([class*="modeUnread-"]):not([class*="list-"]) {
	opacity: 0.66;
}

[class*="modeMuted-"] {
	opacity: 0.4;
}



[class*="message-"]:hover {
	background-color: var(--bg3)
}

/* visited links */
[class*="markup-"] a:visited {
	color: var(--accent2);
}


.theme-dark {
	--elevation-low: none !important;
	--text-normal:  var(--fg1);
	--text-muted:   var(--black);
	--text-link:    var(--accent);
	--header-secondary:    var(--fg2);
	--header-primary:      var(--fg1);
	--channels-default:    var(--fg1);
	--interactive-normal:  var(--fg2);
	--interactive-hover:   var(--fg1);
	--interactive-active:  var(--fg1);
	--interactive-muted:   var(--fg2);
	--background-primary: transparent;
	--background-secondary: var(--bg3);
	--background-tertiary:  var(--bg1);
	--background-accent:    var(--accent);
	--background-floating:  var(--bg1);
	--background-secondary-alt:     var(--bg3);
	--background-modifier-hover:    var(--bg2);
	--background-modifier-active:   var(--bg0);
	--background-modifier-accent:   var(--bg0);
	--channeltextarea-background:   var(--bg1);
	--activity-card-background:     var(--bg2);
	--deprecated-panel-background:  var(--bg3);
	--background-modifier-selected: var(--bg4);
	--background-message-hover:     var(--bg3) !important;
	--elevation-high: 0 8px 16px rgba(0,0,0,0.24);
	--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}


/* Padding in main content area */
[class^="chatContent"] > form {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: initial;
}

[class^="chatContent"] > div > div > div > div, 
[class^="chatContent"] [class^="channelTextArea"] {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

[class^="chatContent"] [class^="channelTextArea"] {
	margin-bottom: 15px;
}

[class^="chatContent"] div[class^="typing"] {
	max-width: 1000px;
	width: 100%;
	transition: all 150ms linear;
	background-color: transparent !important;
	top: -10px;
	height: 0;
	position: relative;
	overflow: visible;
	margin: 0 auto;
}

/* Autocomplete popup */
[class*="autocomplete-"] {
	background-color: var(--bg3) !important;
}

[class*="selectorSelected"] {
	background-color: var(--bg1) !important;
}

/* input placeholder text & edited indicator */
[class*="edited-"],
[class*="placeholder-"] {
	opacity: 1 !important;
	color: var(--black) !important;
}


[class*="barButton"],
[class*="newMessagesBar-"],
[class*="selected-"] [class*="childWrapper-"] {
	color: var(--contrast) !important;
	background-color: var(--accent) !important;
}


[class^="content"] [class^="sidebar"] ~ [class^="container-"],
[class*="userPopout-"] [class*="activity-"],
[class*="userPopout-"] [class*="header-"],
[class*="body-"],
[class*="outer-"][class*="interactive-"]:hover,
[class*="inset-"],
[class*="queryContainer-"],
[class*="resultsGroup-"],
[class*="bodyInner-"],
[class*="quickMessage-"],
[class*="footer-"],
[class*="content-"][class*="inner-ZyuQk0"],
[class*="directionColumn-"][class*="headerTop-"],
[class*="directionRow-"][class*="header-"],
[class*="uploadModal-"] {
	background-color: var(--bg1) !important;
}

#app-mount [class*="cooldownWrapper-"],
[class*="customStatusText-"],
#search-results *,
#app-mount [class*="quickMessage-"],
[class*="headerTagUsernameNoNickname-"],
#app-mount [class*="activityUserPopout-"] *,
[class*="roleName-"],
[class*="headerName"] {
	color: var(--fg1) !important;
}

[class*="nameTag-"] {
	color: var(--fg2);
}


/* hover message timestamp */
[class*="timestampCozyAlt-"] {
	font-size: 9px !important;
}


[class*="reaction-"] .emoji {
	width: 16px !important;
	height: 16px !important;
}

[class*="reaction-"] {
	height: 20px !important;
	margin-top: 4px;
}


[class*="autocomplete"] * {
	color: var(--fg2);
}


/* bold usernames */
[class*="username-"] {
	font-weight: 600;
}


/* syntax */
.hljs,
.hljs * {
	color: var(--fg1) !important;
}

.hljs .hljs-meta,
.hljs .hljs-comment {
	color: var(--fg2) !important;
}

[class*="systemMessage"] * [class*="anchorUnderlineOnHover"] {
	font-weight: bold !important;
}

[class*="reactionMe-"] {
	background-color: var(--button) !important;
}

[class*="reactionMe-"] [class*="reactionCount-"] {
	color: var(--fg1) !important;
}

[class*="mentioned-"] {
	background-color: transparent;
	position: relative;
	border-left: 2px solid var(--accent);
}

[class*="mentioned-"]:hover {
	background-color: transparent !important;
}

[class*="mentioned-"]:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background-color: var(--accent);
	opacity: 0.1;
	z-index: -1;
}

/* change role colours */
[style*="110, 247, 247"] { color: var(--cyan)   !important; }
[style*="110, 144, 247"] { color: var(--blue)   !important; }
[style*="179, 247, 110"] { color: var(--green)  !important; }
[style*="110, 247, 144"] { color: var(--green)  !important; }
[style*="247, 213, 100"] { color: var(--yellow) !important; }
[style*="179, 110, 247"] { color: var(--purple) !important; }
[style*="247, 110, 213"] { color: var(--purple) !important; }
[style*="247, 163, 110"] { color: var(--accent) !important; }
