* {
	font-family:
		"Sans Serif",
		"Batch" !important;
}


.Box-body.data *, /* Github */
/*[class*="code"] *,
[class*="Code"] *,*/
[id*="code"] *,
[id*="Code"] *,
code *,
code {
	font-family: Monospace !important;
	font-weight: bold !important;
}
