.files,
.Box-header,
.numbers-summary,
.pagehead,
.Box,
.col-md-4,
header {
	background-color: var(--bg1) !important;
	border: none;
}

html, body,
.footer,
.social-count {
	background-color: var(--bg2) !important;
}


.link-gray:hover,
.reponav-item.selected,
.files a,
.commit-author,
.num,
.pagehead a:not(.reponav-item),
.link-gray-dark,
.link-gray-dark:hover,
body,
.octicon,
header * {
	color: var(--fg1) !important;
}

.navigation-focus * {
	background: var(--bg3) !important;
}

.Box-body a {
	color: var(--accent) !important;
}

.Box-body a:visited {
	color: var(--accent2) !important;
}

.d-flex,
* {
	border: none !important;
}

.border-bottom,
.mb-3 h2 {
	border-color: var(--bg4) !important;
}

.selected.tabnav-tab,
.btn,
input::placeholder,
input {
	background: var(--bg3) !important;
	color: var(--fg2) !important;
	border: none !important;
}

.octicon.octicon-lock {
	fill: var(--yellow) !important;
}

p,
.tabnav-tab,
.footer a,
.reponav-item:not(.selected) *,
.path-divider,
.btn-link,
.mr-1,
time-ago,
.message,
.numbers-summary a,
.Counter,
.reponav-item,
relative-time,
.text-gray,
.link-gray,
.team-left-column,
.muted-link,
aside * a {
	color: var(--fg2) !important;
	border: none !important;
}

.btn.btn-primary svg,
.btn.btn-primary {
	color: var(--contrast) !important;
	background: var(--accent) !important;
}


.selected.reponav-item,
main,
.bg-gray {
	background-color: var(--bg2) !important;
}

.overall-summary,
.repository-lang-stats-graph,
.AvatarStack-body,
.avatar {
	background: transparent !important;
	border: none !important;
}
