menuitem:hover {
	background-color: #c5d3eb12;
}




/*  Custom Thunar theme  */
@keyframes scale_ripple_effect {
  to {
    background-size: auto, 1000% 1000%;
  }
}


.thunar * label {
	color: #ccccfa;
}

.thunar * treeview,
.thunar * scrollbar,
.thunar * label,
.thunar * image,
.thunar * toolbar,
.thunar * scrolledwindow widget,
.thunar * statusbar {
	border: none;
}

notebook header,
notebook header * tab,
.thunar,
.thunar * image,
.thunar * toolbar,
.thunar * scrolledwindow widget,
.thunar * statusbar {
	background-color: #262a36;
	color: #ccccfa;
}

notebook-header {
	background-color: transparent;
}


/* Active directory underline */
.thunar * .path-bar-button:checked {
	border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #c795d3 100%, transparent 0%) 0 0 2/0 0 2px;
}


/* Scrollbar */
.thunar * scrollbar {
	background-color: #262a36;
}

.thunar * scrollbar * slider {
	background-color: rgba(204, 204, 250, 0.08);
}

.thunar * scrollbar * slider:hover {
	background-color: rgba(204, 204, 250, 0.1);
}

.thunar * scrollbar * slider:active,
.thunar * button:active {
	background-color: rgba(204, 204, 250, 0.15);
}



/* Drag selection thing */
.thunar * .rubberband  {
	border: 1px solid #c795d3;
	background-color: rgba(198, 142, 223, 0.3);
}



/* Sidebar */
.thunar * treeview {
	background-color: #c795d3;
	color: #fff;
}

.thunar * .view:selected {
	background-color: transparent;
	background-image: image(#ba86d2);
}



/* Buttons */
.thunar * button {
  background-color: #232731;
  background-image: radial-gradient(circle farthest-corner at center, transparent 10%, transparent 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;
  color: #ccccfa;
}

.thunar * button:disabled {
	opacity: 0.6;
}

.thunar * button:active {
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1), background-size 0, background-image 0;
  animation: ripple_effect 300ms cubic-bezier(0, 0, 0.2, 1) forwards;
  background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.13) 10%, transparent 0%);
  background-size: 0% 0%;
  color: #ccccfa;
}

.thunar * button,
.thunar * button image,
.thunar * button box,
.thunar * button box label {
	background-color: transparent;
}
