menuitem:hover {
	background-color: #c5d3eb12;
}


*:not(.path-bar-button):not(.rubberband) {
	border: none;
}

.thunar * .path-bar-button:checked {
	border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #8891A8 100%, transparent 0%) 0 0 2/0 0 2px;
}

.thunar > grid {
	margin-top: -40px;
}

.thunar * statusbar {
	margin-bottom: -16px
}
