[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gauge/Desktop/steam.desktop]
row=4
col=0

[a0d25c46-288c-4968-97e7-f9728f784d1c]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/gauge]
row=3
col=0

