:root {
    --bgdark:  #181a21;
    --fgdark:  #cccccc;

    --bglight: #1e2129;
    --border:  #393d49;
    --fglight: #cccccc;

    --bgtitle: #4c566a;

    --accent:  #6992c5;
}

html,
body {
    width: 100%;
    height: 99%;

    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'Iosevka Term';
    src: local('Iosevka Term');
}


body {
    background: var(--bgdark);
    color: var(--fgdark);

    font-family:  'Iosevka Term';

/*    user-select: none;
    -moz-user-select: none; */
}


#page {
    margin: 0 auto;
    max-width: 800px;

    background: var(--bgdark);
    color: var(--fgdark);

    font-family:  'Iosevka Term';
}


.shadow-box {
    box-shadow: 5px 5px 10px 5px #101010;
    text-align: center;
    font-size: 14px
}

main h1 {
    font-size: 16px;
    font-weight: 500;

    color: var(--fglight);
    background: var(--bglight);
    text-align: center;

    padding: 7px;
    margin: 0;

/*     position: relative; */
    z-index: 2;
}

main span:hover {
    background-color: var(--accent) !important;
    color: var(--bgdark) !important;
    transition: all 0.4s ease 0s !important;
}

main span {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 2;
    margin: 5px;
}

body.nojs #top-header {
    min-height: 158px;
}

#top-header {
    padding: 15px;
}

.search-box input[type="text"] {
    width: 800px;
    max-width: 100%;

    padding: 5px;
    border: 2px solid var(--border);

    background: var(--bgdark);
    color: var(--fglight);

    font-family: 'Iosevka Term';
    font-size: 16px;
    text-align: center;
    display: block;
}

.search-box {
    width: 800px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.search-box input[type="text"]:hover {
    border-color: var(--accent);
    transition: all 0.4s !important;

}

.search-box {
    padding-top: 12px;
}

main, #header {
    overflow-y: auto;

    display: flex;
    flex-flow: row wrap;
}

.header {
    background-color: #1e2029;
    width: 100% !important;
    height: 80px;
}

#digital-clock {
    /* margin-left: 87%; */
    display: block;
    text-align: center;
    padding-top: 5px;
}

#clock {
    display: inline-block;
    font-size: 18px;
}

#date {
    display: inline-block;
    font-size: 14px;
} 

.nav-wrapper {
    margin: 10px;
    border: 2px solid var(--bglight);
    background: var(--bgdark)
}

.nav-wrapper:hover {
    border-color: var(--accent);
    transition: all 0.4s !important;
}

.nav-wrapper:hover h1 {
    background: var(--accent);
    transition: all 0.4s !important;
    color: var(--bgdark);
}

main section {
    flex: 1 1 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
    main section {
        flex: 1 1 50%;
    }
}

@media only screen and (min-width: 768px) {
    main section {
        flex: 1 1 25%;
    }
}

main a {
    color: var(--fglight);
    text-decoration: none;
}

main nav a img {
    width: 1rem;
    height: 1rem;
}
