.account__header__bar,
.search__input,
.getting-started,
.getting-started__wrapper > *,
.scrollable {
	background-color: var(--bglight) !important;
}

.status__content__spoiler-link,
.focusable:focus,
.column-header__back-button,
.column-header__back-button ~ .column-header__buttons .column-header__button,
.column-back-button,
.column-header,
.column-header__button,
ul li,
.getting-started__footer,
.tabs-bar,
.detailed-status__action-bar,
.detailed-status,
.drawer__header,
.drawer__inner,
.drawer__inner__mastodon {
	background-color: var(--bglighter) !important;
}

.account__section-headline > *,
dl dt,
.columns-area ,
.notification__filter-bar button {
	background-color: var(--bgdark) !important;
}

.attachment-list__list li {
	background-color: transparent !important;
}

* {
	border-color: var(--bglighter) !important;
}

.getting-started__footer > * > *,
.getting-started__footer > * > * > *,
.getting-started__footer > * > * > * > *,
.column-link,
.navigation-bar__profile-account
.drawer__tab i,
.notification__message,
.notification__filter-bar * span,
.column-header button,
.column-header * .fa,
.display-name__html,
.status__content,
.status__content > * {
	color: var(--fglight) !important;
}

.notification-favourite * .status__content,
.notification-favourite * .status__content > *,
.display-name__account {
	color: var(--fgdark) !important;
}

.notification-reblog,
.notification-favourite {
	opacity: 0.75;
}

.icon-button.active,
.icon-button.active i,
.status__content a,
.status__content a span,
.mention {
	color: var(--accent) !important;
}

.compose-form__publish-button-wrapper button,
.account__header__tabs__buttons button {
	color: #fff !important;
}

* {
	font-family: "FontAwesome", "Roboto Condensed" !important;
}
.status__wrapper--filtered {
	display: none !important;
}
