.account__header__bar,
.search__input,
.getting-started,
.getting-started__wrapper > *,
.scrollable {
	background-color: var(--bglight) !important;
}

.focusable:focus,
.column-header__back-button,
.column-header__back-button ~ .column-header__buttons .column-header__button,
.column-back-button,
.column-header,
.column-header__button,
ul li,
.getting-started__footer,
.tabs-bar,
.detailed-status__action-bar,
.detailed-status,
.drawer__header,
.drawer__inner,
.drawer__inner__mastodon {
	background-color: var(--bglighter) !important;
}

.account__section-headline > *,
dl dt,
.columns-area ,
.notification__filter-bar button {
	background-color: var(--bgdark) !important;
}

.attachment-list__list li {
	background-color: transparent !important;
}

* {
	border-color: var(--bglighter) !important;
}

.display-name__html,
.status__content,
.status__content > * {
	color: var(--fglight) !important;
}

.notification-favourite * .status__content,
.notification-favourite * .status__content > *,
.display-name__account {
	color: var(--fgdark) !important;
}

.notification-reblog,
.notification-favourite {
	opacity: 0.75;
}

.mention {
	color: var(--accent) !important;
}

* {
	font-family: "FontAwesome", "Roboto Condensed" !important;
}
.status__wrapper--filtered {
	display: none !important;
}
