.mx_RoomHeader_wrapper,        /* Header at the top of the page */
.mx_LeftPanel,                    /* Left sidebar */
.mx_TagPanelButtons,              /* Bottom left buttons */
.mx_TagPanel_tagTileContainer,    /* Left community sidebar */
.mx_MemberList,                   /* Members panel */
.mx_FilePanel,                    /* File panel */
.mx_MessageComposer,              /* Message input box */
.mx_EventTile_pre_container > pre,
.gm-scroll-view,
.mx_EventTile_pre_container * code,
.mx_EventTile_pre_container,
.mx_NotificationPanel,            /* Notification panel */
.mx_TopLeftMenuButton,            /* Name at the top left */
.mx_RoomHeader_buttons 
{
	background-color: var(--bg1) !important;
}

.mx_BaseAvatar_image,
.dark-panel .mx_SearchBox,
.mx_RoomView {
	background-color: var(--bg2) !important;
}

.mx_MessageActionBar_maskButton,
.mx_EventTile:hover > .mx_EventTile_line,
.mx_EventTile:hover,
.mx_RoomTile_selected {
	background-color: var(--bg3);
}

body { font-family: Roboto Condensed; }
.markdown-body code { font-family: Iosevka Term; }

*::placeholder,
*:not(code):not(.mx_SenderProfile_name) {
	color: var(--fg1) !important;
}

.mx_MessageActionBar_maskButton::after,
.mx_RoomHeader_button,
.mx_RightPanel_headerButton::before {
	background-color: var(--fg2) !important;
}

.mx_Pill {
	color: var(--bg1) !important;
}

.mx_Pill {
	background-color: var(--accent) !important;
}

.mx_EventTile_highlight, .mx_EventTile_highlight .markdown-body {
	color: var(--accent) !important;
}


/*.mx_EventTile_content .markdown-body code {
    background-color: #EDEAE5 !important ;
    color: #120c00 !important ;
}

.mx_EventTile_pre_container * { background-color : #EDEAE5 !important ; }*/

pre code:not(span) {
	color: #fff !important;
}

.hljs-selector-class {
	color: #f00 !important;
}

/*.mx_EventTile_pre_container,
code > span, 
code 
{
	filter: invert(100%)
}*/

.mx_EventTile_line,
code > span , pre {
	background-color: transparent !important;
}

pre {
	border-radius: 0 !important;
}

.mx_MImageBody {
	max-width: 66% !important;
}


.mx_ReplyThread * .mx_DateSeparator {
	max-width: 200px
}

.mx_MessageTimestamp {
	color: var(--fg1) !important;
}

